[2016-05-04 17:27] mrgnr opened #9 "Building Swarm for Windows fails"
I'm trying to build the Swarm image on Windows Server 2016 Tech Preview 4 with Docker 1.10:
[code]

The build seems to fail because Chocolatey can't be found:
[code]

I started a container from one of the intermediate images and choco didn't appear to be installed.

[2016-05-05 18:04] ManoMarks commented on #9
Have you tried this now with TP5?

[2016-05-23 22:17] alexellis commented on #9
@StefanScherer is this one you can help with?

[2016-05-24 06:16] StefanScherer commented on #9
@alexellis Thanks for the trigger. See PR #13 which builds fine with TP5.

[2016-05-24 17:56] #9 closed

[2016-06-19 22:16] jpham247 opened #21 "Typo in Readme.adoc for Java For Developers Lab"
In [Java_For_Developers_Main_Readme](https://github.com/docker/labs/blob/master/java/readme.adoc)

Link to [Docker Basic Concepts](https://github.com/docker/labs/blob/master/java/chapters/ch02-basic-concepts.adoc) does not work due to incorrectly named file :
https://github.com/docker/labs/tree/master/java/chapters/ch02-basic-conceps.adoc

[2016-06-19 22:49] giorgioongithub opened #22 "missing cd helloworld after cloning from https://github.com/arun-gupta/docker-java-sample/"
Package and Run Java Application using Docker Maven Plugin

after cloning you have to do:

cd docker-java-sample
cd helloworld
mvn package -Pdocker

not just
cd docker-java-sample
mvn package -Pdocker

because the pom.xml is on the hello world subdirectory

[2016-06-19 23:26] padyx opened #23 "Java Chapter 2: Only Toolbox-based installations have a default machine entry"
In[ Chapter 2 of the Java](https://github.com/docker/labs/blob/master/java/chapters/ch02-basic-conceps.adoc) under the section "Verify Docker Configuration" it is written that calling `docker-machine ls` will show an entry named "default".

However, when you have a Linux installation (say Ubuntu), docker will not run using Toolbox with a default (virtualbox) instance. I am unsure if that would als

[2016-06-19 23:41] ddefolo opened #24 "Java Chapter 06: bad instructions for connecting to swarm for windows"
https://github.com/docker/labs/blob/master/java/chapters/ch06-swarm.adoc#Connect_to_Docker_Swarm_Cluster mentions the following for connecting to swarm:

This changing from export to set and changing to \ doesn't seem to help as the docker toolbox is a git for windows bash shell (not windows cmd) so it understands export statements not set.

If you are running the current version of docker Toolbox

[2016-06-19 23:47] gkgt80 opened #25 "Multi container example in single machine not working"
Multi container example in single machine not working in linux environment. web application is not able to start

[2016-06-19 23:49] gkgt80 opened #26 "docker compose not working with default bridge network"
docker compose not able to use default bridge network which created at the time of docker daemon installation.

[2016-06-20 02:38] ManoMarks commented on #26
Which lab is this issue about?

[2016-06-20 02:39] ManoMarks commented on #25
Which lab is this about?

[2016-06-21 11:52] gkgt80 commented on #25
Java Developer

On Sun, Jun 19, 2016 at 7:39 PM, Mano Marks <notifications@github.com>
wrote:

[2016-06-26 14:12] StefanScherer commented on #24
Yes, docker-machine.exe is able to output the correct instructions for CMD, PowerShell and other unixish shells.

[2016-07-11 19:32] ManoMarks commented on #26
No response after 3 weeks, I'm closing the issue

[2016-07-11 19:32] #26 closed

[2016-07-11 19:33] ManoMarks commented on #25
Please check whether recent pull requests have solved the issue. If they haven't, please provide additional details about how it is failing and how we can reproduce.

[2016-07-11 19:33] #25 closed

[2016-07-11 19:36] ManoMarks commented on #24
@arun-gupta we should probably update this to use Docker for Mac/Docker for Windows instead of Machine, with pointers to the Machine documentation for people on earlier versions of Windows.

[2016-07-11 19:37] ManoMarks commented on #23
@arun-gupta this is another one to update

[2016-07-11 20:04] ManoMarks commented on #22
Fix in #34

[2016-07-11 20:04] #22 closed

[2016-07-11 20:04] ManoMarks commented on #21
Fix in #34

[2016-07-11 20:04] #21 closed

[2016-07-17 01:05] #23 closed

[2016-07-18 16:06] arun-gupta commented on #24
This issue can be closed now.

[2016-07-18 22:03] #24 closed

[2016-09-21 13:07] andrevtg opened #55 "VirtualBox & Hyper-V"
This can be a non-issue (sorry for that) but the swarm lab suggests installing Docker for Mac in order to use docker-machine later on for provisioning local VirtualBox VMs.

Isn't there an issue about having both virtualization products on the same box (like VirtualBox breaking after Hyper-V runs)? I don't have a Windows box anymore, so I can't test it myself.

If this is something as simple as "d

[2016-09-21 16:07] ManoMarks commented on #55
It's a good documentation issue. We need to test the lab in Powershell. Virtualbox will not run with Hyper-V enabled. However you should be able to use the hyperv driver instead.

[2016-09-21 18:14] londoncalling commented on #55
@andrevtg Docker for Mac and Windows both install Docker Machine as part of the install (along with Docker Compose).

On Mac, we have a detailed description of how to run these: https://docs.docker.com/docker-for-mac/docker-toolbox/

On Windows, I need to update the docs to be clearer, but you should be able to switch off Hyper-V, and then run Docker Machine with Virtual Box with no repercussions.

[2016-09-21 20:58] StefanScherer commented on #55
@andrevtg I'm running VMware Fusion + VirtualBox + Docker for Mac on my MBP. Each hypervisor has its strengths so I can switch projects and run them in parallel. Two for Vagrant, all three for Docker.

On Windows 7 I have a notebook with VMware Workstation + VirtualBox, also works fine and in parallel. Both for Vagrant or Docker. There is no Hyper-V on Windows 7 so I have this "freedom".

But on a

[2016-09-21 21:16] londoncalling commented on #55
@andrevtg @StefanScherer thanks Stefan. I am just testing all this now, and figured out what I need to add to the docs. On Docker for Mac, users can use Toolbox-installed Docker machine (which installs VirtualBox) or the Docker Machine that comes with Docker for Mac to create machines on a cloud provider (e.g., AWS, Digital Ocean, etc.) then use either of those sets of machines as swarm nodes.

On

[2016-09-21 21:19] londoncalling commented on #55
@StefanScherer I'll ask @friism about your suggestion re: `docker-machine -d hyperv ` and also get him to review everything

[2016-09-21 21:23] andrevtg commented on #55
Instead of cloud nodes maybe the docs should point to using the hyper-v
driver for Docker-machine.

Haven't tested them myself, tho...

Em quarta-feira, 21 de setembro de 2016, Victoria Bialas <
notifications@github.com> escreveu:

--
André Fernandes
Founder, Board Advisor
+55 21 2232-0123
+55 21 98191-1299
andre@vertigo.com.br

[2016-09-21 21:36] londoncalling commented on #55
@andrevtg well, I don't _think_ that will work but will give it a try, and let you know. If it did, it would be fantastic :-)

[2016-09-22 01:48] londoncalling commented on #55
@andrevtg <https://github.com/andrevtg> , it totally works with the hyper-v
driver ! I'll have the documentation all updated tomorrow regarding this
(yay!)

On Wednesday, September 21, 2016, André Fernandes <notifications@github.com>
wrote:

[2016-09-30 17:12] atulep opened #60 "Change java to openjdk"
In "Create your first Docker image using Java" step, change ```docker pull java``` to ```docker pull openjdk```, since java has been deprecated in [Docker Hub](https://hub.docker.com/_/java/). Also, need to update all subsequent references to java in the instructions.

[2016-09-30 18:58] karthikg opened #62 "docker compose stop doesn't remove the network"
In this section.
https://github.com/docker/labs/blob/master/java/chapters/ch05-compose.adoc#stop-application

docker-compose stop wouldn't remove the networks.

docker-compose down does remove the default networks.

[2016-09-30 18:59] ManoMarks commented on #62
@arun-gupta

[2016-09-30 19:09] ManoMarks commented on #55
@andrevtg There's updated documentation in the Hyper V driver:
https://docs.docker.com/machine/drivers/hyper-v/
And I've added a [Powershell script](https://github.com/docker/labs/blob/master/swarm-mode/beginner-tutorial/swarm-node-hyperv-setup.ps1) to the Swarm Mode tutorial.

[2016-09-30 19:09] #55 closed

[2016-09-30 20:43] arun-gupta opened #63 "Fix the formatting in ch06-swarm.adoc"

[2016-09-30 20:48] yeshavora opened #64 "correct docker swarm inspect command."
The document needs to be updated to use "docker inspect swarm".

[2016-09-30 21:38] yeshavora opened #65 "Docker service ls command should show state of each tasks."
The docker service command should be fixed to show the state of tasks properly.
It is hard to figure out the state of a task. It becomes hard to debug failure scenarios too.

$ docker service ls
ID            NAME         REPLICAS  IMAGE                    COMMAND
acemxpti7m36  wildfly-app  0/2       arungupta/wildfly-app:1

[2016-10-02 05:43] arun-gupta commented on #64
@ManoMarks merged and can be closed now.

[2016-10-02 05:43] arun-gupta commented on #63
@ManoMarks merged and can be closed now.

[2016-10-02 05:43] #63 closed

[2016-10-02 05:43] arun-gupta commented on #62
@ManoMarks merged and can be closed now.

[2016-10-02 05:44] arun-gupta commented on #60
@ManoMarks merged and can be closed now.

[2016-10-02 17:48] #60 closed

[2016-10-02 17:48] #62 closed

[2016-10-02 17:49] #64 closed

[2016-10-03 00:21] hairyhenderson commented on #65
@yeshavora - I think a more appropriate place to log this would be in [docker/docker](https://github.com/docker/docker)

[2016-10-03 01:40] ManoMarks commented on #65
Agreed, please submit an issue on docker/docker

[2016-10-03 01:40] #65 closed

[2016-10-08 15:43] fthamura opened #69 ".net on windows - docker-machine windows"
is it possible we can have also lab related to windows (2016)

docker image on docker-windows
docker-machine to windows server?

ass additional to
https://github.com/docker/labs/blob/master/windows/readme.md

[2016-10-09 07:54] ManoMarks commented on #69
Definitely planned!

[2016-10-09 07:59] fthamura commented on #69
We have.win2016 server, still.findout how to connect to docker machine

Any glue?

On Oct 9, 2016 14:54, "Mano Marks" <notifications@github.com> wrote:

[2016-10-09 08:44] desdulianto opened #70 "voting-app instruction [Docker for beginners] is out of sync with git repo code"
Directory location for voting-app code is not updated, should be vote/ (old directory is voting-app/)

docker-compose.yml is not updated, most recent git repo does not include networks and volume definition.

https://github.com/docker/example-voting-app/blob/master/docker-compose.yml 09279e12a8fe3d50836458ef18242f255c0eef1b

[2016-10-16 00:16] PlagueHO opened #80 "Add Installing Docker on WS2016 using DSC to Labs"
As per suggestion from @ManoMarks , I would like to add a tutorial showing how to install Docker on Windows Server 2016 (Server or Server Core) using PowerShell DSC.

This is performed using [a script on PowerShell Gallery](https://www.powershellgallery.com/packages/Install-DockerOnWS2016UsingDSC).

The commands to execute are:
[code]

[2016-10-16 21:45] ManoMarks commented on #80
#82

[2016-10-19 23:11] #80 closed

[2016-10-19 23:12] #70 closed

[2016-10-28 14:55] julianespinel opened #92 "Docker Orchestration slides link is broken"

[2016-10-28 17:24] ManoMarks commented on #92
@jpetazzo please verify

[2016-10-28 17:33] jpetazzo commented on #92
Sorry, which link?

[2016-10-28 17:36] ManoMarks commented on #92
https://github.com/docker/labs/pull/93/commits/3900bc91386097bb0a939e00ea38ff33e0f7914a

[2016-10-28 17:54] #92 closed

[2016-10-31 12:43] eliassal opened #96 "Service 'web' failed to build: unknown blob=============> ]"
HI,
I am trying to build this lab but getting the error
1B[31mERROR[0m: Service 'web' failed to build: unknown blob=============> ]
I am running on win10 enterprise, Hyper-V enbaled, docker for windows beta but I did not install windows containers.
Of course, I have changed the external name of the network in the docker.compose.windows to the name of the nat in my hyper-V.
So does this tutorial

[2016-10-31 17:07] ManoMarks commented on #96
Hi @eliassal,

Which lab are you trying to run?

[2016-10-31 18:06] eliassal commented on #96
Multi-Container Applicationns at
https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md

[2016-10-31 18:12] ManoMarks commented on #96
Yes that lab does require the use of Windows containers, so you need to switch to Windows containers. That won't require an install if you're up to date on all updates to Windows 10. You also don't need to add anything to the path.

[2016-10-31 19:52] ManoMarks commented on #96
The error you are getting is because you didn't switch to windows containers
![gif of switching to windows containers](https://github.com/docker/labs/blob/master/windows/windows-containers/images/docker-for-windows-switch.gif)

[2016-11-01 12:06] eliassal commented on #96
Ok Mano, I switched to win containers, issued the build command, getting thisthis output

I even tried from a another laptop, getting the exact same error

[2016-11-01 12:08] eliassal commented on #96
Sorry, the 2nd laptop gives a different error as follows

[code]

[2016-11-01 14:06] eliassal commented on #96
Mano, while the error is persi persisting on the physical win 10 laptop which has containers enabled which is
error:   The server name or address could not be resolved

The operations succeeded after 5 retries on THE WIN VM with Docker for windows installed and switched to Windows dows Containers.
I should admit that it is a very involved process and took a lot of time for each step.

After issuin

[2016-11-01 14:22] eliassal commented on #96
Also, a huge surprise, I have just checked the directory
C:\ProgramData\Docker\windowsfilter
on the win10 VM, it is 24 GIG !!!!! with a lot of Guid based names directories
35f34a62175c8213b981d84964e5392d338d9f72b16b74088902183479b4ef72
73cff097674dc109928640c97811907b9680edd6401d217e53069f96c1912f62
....
........
how this can be cleaned? and why so many directories for 1 single container?
Thanks

[2016-11-01 20:00] ManoMarks commented on #96
@eliassal I'm not able to replicate your problem. Could you [submit feedback](https://docs.docker.com/docker-for-windows/#/diagnose-and-feedback) on Docker for Windows so the team can help you debug the issue?

And yes, the Windows container images are huge. That's a known issue that I believe Microsoft is working on. Using NanoServer helps but they are still large compared to Linux.

[2016-11-01 22:52] #96 closed

[2016-11-02 10:37] eliassal commented on #96
OK Mano I will do, but what about the error I am getting on the physical laptop , step 8/13
[code]

[2016-11-02 15:53] eliassal opened #97 "Service 'web' failed to build: failed to register layer: re-exec error: exit status 1"
Hi Mano, I tried to play today with this lab, as soon as I issue the command
`Docker-compose -f .\docker-compose.yml build
`
I get

[code]
This is on a physical win 10 machine windows containers enabled and HYper-V on
Thanks for your help

[2016-11-02 15:59] eliassal commented on #97
Mano, just tried on the 2nd win10 VM with docker for windows, getting the exact same error

[2016-11-02 16:58] eliassal opened #98 "VS 2K15 instead of VSC"
Hi, is it possible to use VS 2K15 instead of VSC? as this tutorial is not going through on windows containers, I decided to run it with my  Kitematic setup on a win10 physical desktop.

Docker-compse worked fine and I was able to access the website at http://192.168.99.100:8000/ .

What is needed for VS to make it possible following this tutorial?
Thanks

[2016-11-02 17:08] ManoMarks commented on #96
Docker for Windows is still the engine so report it there. We work with MS so if there's something one their end we can work it out

[2016-11-02 22:27] ManoMarks commented on #98
We should have a separate VS 2K15 tutorial not a replacement for VSC.

[2016-11-02 22:32] ManoMarks commented on #97
Hmmm, works for me:

[code]

[2016-11-02 22:33] ManoMarks commented on #97
What's the output of docker version?

[2016-11-03 09:50] eliassal commented on #97
I got this same output and containeres wer up and running once I switched to Linux cntainers on the win10 VM., ON both machines when I use windows containers, it does not go through. Do you use windows or linux containers?

[2016-11-03 10:16] eliassal commented on #97
The output for docker version on the physical win 10 is
Client:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   96efb2c
 Built:        Mon Oct 24 15:30:23 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   96efb2c
 Built:        Mon Oct 24 15:30:23 2016
 OS/Arch:      windows/amd64

On t

[2016-11-03 10:37] eliassal commented on #97
Mano, also on a 3rd machine where I have Kitematic, it is working fine but as kitematic works with default linux machine and Virtualbox driver, I am not able to use the VSC. I posted several times in docker forums how start a machine  with a network adapter different from "Host-only adapter" got no response. Any idea? the thread is
https://forums.docker.com/t/change-default-networking-from-host-on

[2016-11-03 20:57] ManoMarks commented on #97
@eliassal that node.js lab requires use of linux containers so yes it will not work when you are in Windows Container mode. So that is correct behavior.

Kitematic can be installed from Docker for Windows and should work with any of these projects but it hasn't been tested and is still a beta project.

[2016-11-04 15:27] mschuchard opened #102 "docker version | grep apparmor inaccurate check for apparmor kernel module"
In the vagrant box ubuntu/xenial64 (after a `newgrp docker`):

[code]

Please update the lab with a more accurate command for assessing if the apparmor kernel module is loaded for Docker.

[2016-11-04 18:43] ManoMarks commented on #102
@riyazdf can you review?

[2016-11-04 18:47] riyazdf commented on #102
seems like it should be `docker info` instead of `docker version`.  I can fix this

[2016-11-04 19:02] mschuchard commented on #102
Thanks; that looks correct for me. Closing in favor of PR.

[2016-11-04 19:02] #102 closed

[2016-11-04 20:15] riyazdf commented on #102
Thanks for reporting @mschuchard!

[2016-11-07 19:15] mschuchard opened #108 "seccomp lab step order"
I feel fairly certain that `Seccomp and Docker` under `Prerequisites` and `Clone the labs GitHub repo` as `Step 1` should be switched in the seccomp lab, but wanted to do this as an issue just in case I am wrong.

Also

should be

Although speaking of the `dockercon-workshop` git repo, you might want to put a `git clone` command for it in Step 5 of the apparmor lab. I realized when it mentioned to

[2016-11-07 19:29] ManoMarks commented on #108
@riyazdf can you review?

[2016-11-07 19:49] riyazdf commented on #108
@mschuchard - you're right that the command will fail in the `Docker and Seccomp` section will fail if you run it because `default.json` won't exist.  That said, I don't think we need to reference that file since that section is mostly about an introduction about how docker uses seccomp, so I can generalize the filename.

Also, great catch on the directory - this lab was ported from github.com/riy

[2016-11-07 20:07] #108 closed

[2016-11-07 23:52] #97 closed

[2016-11-09 21:29] ManoMarks commented on #69
Update on this, we don't yet have a way to provision Windows hosts in Docker Machine. So this will have to wait until this is possible.

[2016-11-14 23:53] ManoMarks opened #117 "Using Docker with Go"
Add a new lab to https://github.com/docker/labs/tree/master/developer-tools showing using incontainer debugging with Go. and covering any special considerations.

[2016-11-14 23:56] ManoMarks opened #118 "Docker Storage Lab"
Create a new storage lab, vender agnostic

[2016-11-15 13:07] eliassal commented on #118
Mano, in the settings, I have ticked the E: drive as a shared volume.
Does this mean that this volume is available for all linux containers? I ran
`docker run -i -t centos /bin/bash
`once in bash, I run
`ls   `   I get

I don't see the E volume

So do I need to issue somthing per container?
Thanks

[2016-11-15 13:07] eliassal commented on #118
So do I need to issue somthing per container before running the container?

[2016-11-15 17:30] ManoMarks commented on #118
@eliassal This isn't the place for that question :-) This is an issue to track creating a labs tutorial. If you're having issues with Docker for Windows, you can post them here: https://github.com/docker/for-win or in the Docker Forums https://forums.docker.com/

[2016-11-15 17:47] eliassal commented on #118
Thanks Mano, I thought I was in the docker for win forum, sorry for that, while waiting for the response I found a good thread on the volume subject
https://forums.docker.com/t/volume-mounts-in-windows-does-not-work/10693/23
it is huge but very useful. The only thing I was not able to figure out is how to add volumes in a Dockerfile. I visited
https://docs.docker.com/engine/tutorials/dockervolumes

[2016-11-16 08:56] vegasbrianc opened #121 "Docker Community tutorials link is broken"
I noticed the Docker Community link is broken. I'm not sure where these tutorials or should live or I would have fixed it already.

[2016-11-16 18:29] spara commented on #98
The VS2015 debugger does not associate node.js code running in Docker with the code in the shared directory, preventing debugging. This was registered as an issue with and earlier version of nodejstools without a resolution (https://github.com/Microsoft/nodejstools/issues/224)

Have filed issue on nodejstools: [Debugger: No code has been loaded for this code location #1421](https://github.com/dock

[2016-11-16 18:47] ManoMarks commented on #121
Hmmmm is gone, @vcoisne do you know what happened?
https://github.com/docker/community/blob/master/tutorials/docker-tutorials.md

[2016-11-16 21:36] ManoMarks opened #122 "Using Docker with Python"
New live debugging tutorial

[2016-11-18 07:01] bargemb commented on #121
@vcoisne Can I take this issue ? I'm new to docker contributions and this will help me to understand the process better.

[2016-11-18 09:04] bargemb opened #125 "Change description in votingapp.md for "Build and tag images" section"
`docker build` command given in this section explicitly mentions `path` for the apps.
For example

`vote` in this case.

However descriptions says

This results in following error

[2016-11-23 19:19] vcoisne commented on #121
@ManoMarks we deleted it to focus on https://github.com/docker/community/tree/master/Docker-Meetup-Content

@bargemb that would be awesome. Please feel free to submit a PR with the link I included above :)
thanks for your contribution

[2016-11-24 08:54] bargemb commented on #121
@vcoisne created pull request #127 for the same

[2016-11-26 01:33] dimitarivanov opened #128 "Expand SQL Server lab with scenario that includes distributed transactions"
I'm struggling for some time to make distributed transactions work with SQL Server in a container. An example lab that accomplishes this will be quite beneficial.

Here is more information on the issue that I'm facing: [Service running inside of a container cannot participate in distributed transaction](https://github.com/Microsoft/Virtualization-Documentation/issues/494)

[2016-11-26 05:23] bargemb commented on #125
Pull request #129 created for this issue.

[2016-11-27 21:20] ManoMarks commented on #121
Fixed in #127

[2016-11-27 21:20] #121 closed

[2016-11-28 19:40] ManoMarks commented on #125
Fixed in #129

[2016-11-28 19:40] #125 closed

[2016-12-07 15:55] ferpega opened #135 "client version 1.22 is too old. Minimum supported API version is 1.24, please upgrade your client to a newer version"
When I try to follow the README.md in this:
https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md

I get this message:

`$ docker-compose -f ./docker-compose.windows.yml up`

This is my docker-compose version information:

`$ docker-compose version`

It is running on windows-container mode.

If I try to switch to linux-container mode this my 'build' result:
`$

[2016-12-07 16:22] ferpega commented on #135
Changing this file:

Setting its version from '2' to '2.1' and executing 'build' again, It does not throw the error, but after a lot of time it seems not doing anything and stuck on this:

`$ docker-compose -f ./docker-compose.windows.yml build`

[2016-12-07 17:32] ManoMarks commented on #135
@ferpega please file an issue on the Compose repo https://github.com/docker/compose

[2016-12-07 17:32] #135 closed

[2016-12-12 23:39] ManoMarks opened #136 "Error creating Assets.Database.dacpac"
Following the directions in [Generating the Dacpac with the Builder](https://github.com/docker/labs/blob/master/windows/sql-server/part-1.md)

I get the following error:
[code]

[2016-12-20 12:55] dimitarivanov commented on #128
Based on the response in the opened issue this use case is not supported so I'm closing this enhancement.

Thanks!

[2016-12-20 12:55] #128 closed

[2016-12-27 14:51] briviere opened #142 "I get unknown blob"
I'm trying to go through the lab but I keep getting the following:

10.0.14393.321: Pulling from microsoft/windowsservercore
9c7f9c7d9bc2: Retrying in 1 second
de5064718b3f: Downloading
unknown blob

[2016-12-27 17:41] ManoMarks commented on #142
@briviere Are you using [Docker for Windows](https://docs.docker.com/docker-for-windows/)? If so, have you made sure that you're in [Windows Container](https://docs.docker.com/docker-for-windows/#/switch-between-windows-and-linux-containers-beta-feature) mode

[2016-12-27 17:59] briviere commented on #142
Hello

Yes Docker for Windows.  No I'm not in windows container mode.  I don't see
anything that shows me how to switch to Windows Container Mode?

On Tue, Dec 27, 2016 at 12:41 PM, Mano Marks <notifications@github.com>
wrote:

[2016-12-27 18:06] ManoMarks commented on #142
[This page](https://github.com/docker/labs/blob/master/windows/windows-containers/Setup-Win10.md) has an animated gif showing you how to switch to Windows Container Mode.

[2016-12-27 18:14] #142 closed

[2016-12-28 18:42] sheng-liang opened #144 "The MusicStore sample app does not build"
The `docker-compose -f .\docker-compose.windows.yml build` command fails. It happens for me on both Docker for Windows beta (1.13.0-rc4) and the standard 1.12.2 Docker on Windows Server 2016.

[code]

[2016-12-28 21:44] #136 closed

[2016-12-29 09:08] wmeng19 opened #146 "Unable to create dacpac file"
Hi Admin,

I follow the guide step by step by unable to create the the dacpac file in window server 2016. It got no error . After the "docker build -t assets-db-builder -f Dockerfile.builder ." there are not Assets.Database.dacpac been generated. Please help.

Eng,

[2017-01-02 15:41] frjaraur commented on #144
Same here :|

[2017-01-03 16:57] jsoveral commented on #144
Getting the same annoying error

[code]

Seems that is issue has been going on for a while and the netcore to NETStandard mappings are messed up  - [](https://github.com/dotnet/corefx/issues/14203)

[2017-01-04 12:34] frjaraur commented on #144
PS C:\Users\Administrator\Downloads\MusicStore> docker build -t web -f .\Dockerfile.windows .
Sending build context to Docker daemon 2.558 MB
Step 1/13 : FROM microsoft/dotnet:nanoserver
 ---> e4d55b5b2ddc
Step 2/13 : SHELL powershell -Command $ErrorActionPreference = 'Stop';
 ---> Using cache
 ---> 093e75409771
Step 3/13 : RUN set-itemproperty -path 'HKLM:\SYSTEM\CurrentControlSet\Services\Dnscac

[2017-01-04 12:51] jsoveral commented on #144
The work around that I found is to revert the version of the NETCoreApp:

"dependencies": {
        "Microsoft.NETCore.App": {
          "version": "1.0.3",
          "type": "platform"
        }
}

1.0.3 works for me

[2017-01-04 17:42] frjaraur commented on #144
Thanks jsoveral. Where do I have to change that version info?

[2017-01-05 16:37] sixeyed commented on #146
@wmeng19 that command just builds the Docker image which can create a Dacpac. You then need to run the image - this is the last step in

[2017-01-05 19:48] uttyleric opened #147 "Build Error: flask-app"
I ran `docker build` and received the following error. Any idea what I need to adjust to resolve it?

Step 2 : RUN apk add --update py-pip
 ---> Running in 1ff1442df618
fetch http://dl-cdn.alpinelinux.org/alpine/v3.5/main/x86_64/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.5/community/x86_64/APKINDEX.tar.gz
ERROR: unsatisfiable constraints:
  py-pip (virtual):
    provided by: py2

[2017-01-05 21:34] ManoMarks commented on #147
I'm unable to reproduce this issue. A couple of thoughts:
1) It was a temporary problem with the alpine linux cdn, try building again and see if you get the same problem.
2) There's a network issue on your end blocking access to the alpine linux cdn. Could be a problem if you are running through a proxy server. Try running it on another network.

[2017-01-06 00:54] ManoMarks commented on #147
Another idea, try changing the first line to:
`FROM alpine:3.4`
which specifies a specific version of the alpine base image to use.

[2017-01-06 02:03] brycem commented on #144
I see near-matches in the project.json files under /samples, but changing the values to 1.0.3 didn't get me there...

[2017-01-08 14:11] vishaldodiya commented on #147
On aplinelinux forum says that py-pip is for 3.5 also as mentioned by @ManoMarks  version so try changing py-pip to py2-pip.

[2017-01-08 16:29] frjaraur commented on #147
When using flask for development of my apps I  always use python images for base image. For example, in my latest project I am using FROM python:3.5-alpine which uses alpine 3.5 as base OS.

[2017-01-09 14:01] anselal commented on #147
@vishaldodiya Changing py-pip to py2-pip worked for me !!!

[2017-01-09 20:10] #147 closed

[2017-01-11 19:55] arun-gupta opened #151 "Java lab: Docker stack deploy"
Add `docker stack deploy` using Compose File to Java lab

Assign to me.

[2017-01-11 19:56] arun-gupta opened #152 "Java lab: Update to 1.13"
Update Java lab to 1.13 when release is complete

Assign to me

[2017-01-16 10:45] jfoliveira commented on #144
I found 4 `project.json` files in the solution:
[code]

I changed version to 1.0.3 in all of them, as suggested by @jsoveral:
[code]

Even so, when trying to rebuild the error message is the same.
Any ideas on how to workaround this error?

[2017-01-22 06:31] arun-gupta commented on #152
Started work in https://github.com/docker/labs/pull/156 and https://github.com/docker/labs/pull/157

[2017-01-24 00:47] ManoMarks commented on #146
can we close this issue?

[2017-01-24 04:42] friism commented on #144
Sorry guys, I updated my code now: https://github.com/friism/MusicStore

Also updated the PR to Microsoft: https://github.com/aspnet/MusicStore/pull/736

[2017-01-24 19:50] friism commented on #144
@sixeyed @ManoMarks can you check if this works on your machines? If yes, pls. close

[2017-01-25 10:16] easec commented on #144
![error2](https://cloud.githubusercontent.com/assets/23214234/22286480/9a20a49a-e2ef-11e6-94f0-62d3974ce99e.png)

I got some new errors!  /Mats

[2017-01-25 10:21] JanneRantala commented on #144
I had the same error, @easec. Updating docker-compose to 1.10.0 fixed it.

[2017-01-25 10:24] easec commented on #144
Ok! I was checking for that! Thanks!  /Mats

[2017-01-25 10:29] JanneRantala commented on #144
However now when I'm running app it complains that Login failed for user 'sa'. Are you getting the same?

[2017-01-25 10:53] easec commented on #144
I´m stuck with upgading docker-compose, how did you do that?  /Mats

[2017-01-25 10:59] JanneRantala commented on #144
I'm using Chocolatey, choco install docker-compose.

[2017-01-25 11:00] easec commented on #144
Ok, I did not!  /Mats

[2017-01-25 13:12] StefanScherer commented on #144
@friism Tried your repo and it worked out of the box with docker-compose 1.10, docker 1.13.0 on a Win2016 machine.

[2017-01-25 20:20] easec commented on #144
![error3](https://cloud.githubusercontent.com/assets/23214234/22307624/0c8db92e-e344-11e6-9aac-e721cfe0ba4a.png)

I got a lot of errors! /Mats

[2017-01-25 20:30] easec commented on #144
I have to stop and restart couple of times, now it´s working!
![work](https://cloud.githubusercontent.com/assets/23214234/22308018/8d63e518-e345-11e6-83c8-a7b15675a6f6.png)

[2017-01-26 08:38] JanneRantala commented on #144
Strange, I also had to restart several times and finally got rid of that login failed for user sa -error. And I thought Docker was supposed to help us get rid of "works on my machine" :)

[2017-01-26 09:19] StefanScherer commented on #144
It depends how you stop/kill the previous container. Maybe compose just reused it and startedit again with the old code.
You may use `docker-compose down` to remove old containers before the next `up`.

[2017-01-27 14:15] sylar9232 opened #162 "How to get docker inside docker working"
Hello,

i have a question if i can install docker inside docker. I have tried, but all i get is this error:
error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.25/containers/json: open //./pipe/docker_engine: The system cannot find the file specified.

here is my Dockerfile:
[code]
What I'm trying to do is to have this image connected to jenkins and then would jenkis restart inside

[2017-01-27 20:09] ManoMarks commented on #162
Hi! Please join the [Docker community](http://dockr.ly/MeetUp) for this kind of support, you'll receive an invite to the slack community, and if you have a bug please file it at https://github.com/docker/docker

[2017-01-27 20:09] #162 closed

[2017-02-01 21:15] ManoMarks commented on #146
Closing for lack of follow-up, we can reopen of necessary

[2017-02-01 21:15] #146 closed

[2017-02-01 21:16] ManoMarks commented on #144
Looks like this is resolved, I'll close for now. We can reopen of necessary

[2017-02-01 21:16] #144 closed

[2017-02-03 05:51] arun-gupta commented on #151
Completed with https://github.com/docker/labs/pull/163

[2017-02-03 05:51] #151 closed

[2017-02-03 05:52] arun-gupta commented on #151
More work in #158 #159 #163 #165 #166

[2017-02-08 16:51] ettore26 opened #168 "Possible "Docker Swarm" misspell in slides"
Hi!

Possible misspell in [labs/slides/docker-introduction.pdf](https://github.com/docker/labs/blob/master/slides/docker-introduction.pdf) file, slide n.54 line 3, which says:

- "Filters: Used by **Docker Swam** scheduler to create and run container"

Possible correction:

- "Filters: Used by **Docker Swarm** scheduler to create and run container"

[2017-02-08 18:09] ManoMarks commented on #168
@arun-gupta ^^^

[2017-02-08 18:21] arun-gupta commented on #152
More work in https://github.com/docker/labs/pull/158 https://github.com/docker/labs/pull/163 https://github.com/docker/labs/pull/165 https://github.com/docker/labs/pull/166 https://github.com/docker/labs/pull/167 https://github.com/docker/labs/pull/169

[2017-02-08 18:43] ManoMarks commented on #168
Fixed, thanks for the report

[2017-02-08 18:43] #168 closed

[2017-02-15 02:17] wmeng19 commented on #146
Hi @sixeyed & @ManoMarks sorry for the latest response because i been assign to other task. Yes i understand "docker run --rm -v $pwd\out:c:\bin -v $pwd\src:c:\src assets-db-builder" is the last command to generate the dacpac file. It no problems to create the image but while I execute command docker run --rm -v $pwd\out:c:\bin -v $pwd\src:c:\src assets-db-builder it give me error to mapping as be

[2017-02-26 17:03] friism commented on #144
@JanneRantala @easec I've added a healthcheck which should ensure that the sample starts smoothly: https://github.com/friism/MusicStore/blob/master/docker-compose.windows.yml#L10

[2017-02-27 04:36] dockerwang opened #177 "the error please help me"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, s

[2017-02-27 05:01] ManoMarks commented on #177
Could you please give more details? Could you describe the steps you went through and the exact error messages you got? Also the output of `docker version`  and `docker info`.

Thanks

[2017-02-27 06:07] dockerwang commented on #177
thinks mano, I have edited my requstion. please help me to resolve the problem thanks

[2017-02-27 07:12] StefanScherer commented on #177
@dockerwang
Check your `requirements.txt` file. The output above shows `sk==0.10.1`, but the [tutorial](https://github.com/docker/labs/blob/da78d804f3df3c9095150a71db3b2b4bd696681e/beginner/chapters/webapps.md#requirementstxt) shows `Flask==0.10.1`.
Maybe a problem using VIM and pasting code without being in insert mode? ;-)

[2017-02-27 07:29] dockerwang commented on #177
Thinks! it works! But it still tips
.....
Successfully installed Flask-0.10.1 Jinja2-2.9.5 MarkupSafe-0.23 Werkzeug-0.11.15 itsdangerous-0.24
You are using pip version 9.0.0, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
 ---> 7b5f4c778418
Removing intermediate container 39a9a93a2c0b
......
can you give me some  abort the pip update

[2017-02-27 07:41] StefanScherer commented on #177
@dockerwang Well, this is only a suggestion. Alpine installs py2-pip (9.0.0-r1) which should be good enough for the tutorial. Otherwise try the suggested command with an extra RUN instruction before running pip with the requirements.txt file.

[2017-02-27 07:45] dockerwang commented on #177
ok ,I know thanks!

[2017-02-27 08:18] ManoMarks commented on #177
Thanks @stefanscherer

[2017-02-27 08:18] #177 closed

[2017-03-01 01:05] arun-gupta commented on #152
Update complete

[2017-03-01 01:05] #152 closed

[2017-03-01 09:31] dockerwang opened #183 "why docker-machine can create the manager1,but the follow macines can not by the setup.sh script thank you"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, s

[2017-03-01 09:52] #183 closed

[2017-03-03 18:23] scheung38 opened #185 "Usage for Mac OSX"
Is this for running inside a Mac OSX?

[2017-03-03 20:25] ManoMarks commented on #185
@scheung38 What lab are you referring to? If you are looking for more info on Docker for Mac, check out this page: https://docs.docker.com/docker-for-mac/

[2017-03-03 21:12] scheung38 commented on #185
HI Mano,

I am looking to run Win apps in Windows container, on top of my Mac...is that possible? As I want to run inside Docker as opposed to Vagrant box

[2017-03-03 21:19] ManoMarks commented on #185
No, Windows containers only work on Windows at this point.

[2017-03-03 21:21] scheung38 commented on #185
But I thought that is the point of container technology, the host and VM can be any independent OS to provide flexibility for both OS, so at the moment this is only true for Vagrant or Parallels?

[2017-03-03 21:25] ManoMarks commented on #185
Yes, that is the point. However, Microsoft restricts the use of Windows containers to the Windows platform at this time. You can run linux containers on mac, windows, or other linux distros, but not Windows containers.

[2017-03-03 21:41] ManoMarks commented on #185
If you want more info on Docker, you can ask over on the forums. This issue tracker is for the tutorials: https://forums.docker.com/

[2017-03-03 21:41] #185 closed

[2017-03-06 20:21] jcemoller opened #187 "No overload for method 'UseInMemoryDatabase' takes 0 arguments"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md

**Description**

A clean install of Windows Server 2016 in Azure, following the steps in the quickstart to add git and docker, then following lab notes to install Musicstore. Breaks on step 12/16, building the application, with error "No overload for meth

[2017-03-06 23:00] ManoMarks commented on #187
@sixeyed can you take a look?

[2017-03-07 21:08] martinmosegaard opened #189 "hello-dotnetbot is not for Windows"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/tree/master/windows/hello-dotnetbot

**Description**

This tutorial is in the Windows category, so I expected it would run on Windows.
But it does not work on Windows, so it should have more details in the README.

**Steps to reproduce the issue, if relevant:**
1. `docker build -t dotnetbot .`

**Describe the resul

[2017-03-08 01:32] ManoMarks opened #190 "Update version number to current version"
* On (https://github.com/docker/labs/blob/master/windows/windows-containers/WindowsContainers.md) update the version output.
* On (https://github.com/docker/labs/blob/master/windows/windows-containers/Setup-Win10.md) update the animated gif.

[2017-03-21 12:01] ricardo-aires opened #200 "Broken links in labs/README.md"
The presence of spaces between the link markdown formatting options is causing bad formatting over the next links:

- [Docker for beginners](https://github.com/docker/labs/tree/master/beginner/readme.md)

- [Advanced Docker orchestration workshop](https://github.com/docker/labs/tree/master/Docker-Orchestration)

[2017-03-21 13:34] ricardo-aires opened #202 "Shared Driver link Typo beginner/chapters/setup.md"
There is an extra forward slash over the [share your driver](https://docs.docker.com/docker-for-windows/#shared-drives) link in the [setup](https://github.com/docker/labs/blob/master/beginner/chapters/setup.md) chapter of the [Docker for beginners](https://github.com/docker/labs/tree/master/beginner) lab.

[2017-03-21 16:45] #200 closed

[2017-03-21 16:45] #202 closed

[2017-03-21 17:25] LuisRBarreras opened #204 "Error response from daemon: Unknown instruction: PORT"
**Which lab is it that you're having issues with?**
Tutorial Dockerizing a Node.js application
**Description**
Update Tutorial Dockerizing a Node.js application  on README instructions2_application_image.md
Getting an error ``` Error response from daemon: Unknown instruction: PORT```

**Steps to reproduce the issue, if relevant:**
1. Create Dockerfile based on [template ](https://github.com/docker

[2017-03-21 20:00] ManoMarks commented on #204
Fixed, thanks

[2017-03-21 20:00] #204 closed

[2017-03-23 08:52] tstrypko commented on #128
Do you have more info on why exactly MSDTC is not supported? Some services are missing?

(Please see my investigation: https://github.com/Microsoft/Virtualization-Documentation/issues/494#issuecomment-288652149)

[2017-03-25 09:22] radu-matei opened #206 "[Docker Swarm Mode] Image missing in readme"
Docker Swarm Mode Cloud quick start tutorial

The image in [this tutorial is missing](https://github.com/docker/labs/blob/master/swarm-mode/cloud-quick-start/README.md).

The image in question is an [image of MobyDock](https://camo.githubusercontent.com/d09df94464bd0b1bc1ee883a49604a4549c41fba/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f323333303138372f646f636b65722f6c6

[2017-03-27 12:57] johanjanssen opened #207 "'helloworld' directory does not exist"
On https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch03-build-image.adoc the instructions use the 'helloworld' directory, see below. However that directory does not exist in the cloned repo. Simply removing the 'helloworld' directory from the mvn commands solved it.

Clone the sample code from https://github.com/arun-gupta/docker-java-sample/.
Create the Docker image:

mvn

[2017-03-27 13:00] johanjanssen opened #208 "Build command is not mentioned"
On https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch03-build-image.adoc the text below is present. However the specific build command is not mentioned. I guess it should be 'docker build -t helloworld .'.

This image uses ubuntu as the base image. CMD command defines the command that needs to run. It provides a different entry point of /bin/echo and gives the argument “he

[2017-03-27 19:42] ManoMarks commented on #208
@arun-gupta can you take a look?

[2017-03-27 19:42] ManoMarks commented on #207
@arun-gupta can you take a look?

[2017-03-27 22:56] arun-gupta commented on #207
Sent a PR: https://github.com/docker/labs/pull/209

[2017-03-27 22:56] arun-gupta commented on #208
Sent a PR: https://github.com/docker/labs/pull/209

[2017-03-27 22:59] #208 closed

[2017-03-27 23:00] #207 closed

[2017-03-29 14:43] johanjanssen opened #211 "cAdvisor run command is not working properly"
The run command on https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch10-monitoring.adoc is not working well. It starts the container and cAdvisor, but the running containers are not visible in the webinterface of cAdvisor.

The correct command (from https://github.com/google/cadvisor) :
docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sy

[2017-03-29 17:26] ManoMarks commented on #211
@arun-gupta can you comment?

[2017-03-29 17:32] arun-gupta commented on #211
@johanjanssen have you verified that the command listed above works? Are you able to see the running containers in the web interface that way?

[2017-03-29 18:11] johanjanssen commented on #211
Yes I tested the command and I can see the containers in the web interface.

Op 29 mrt. 2017 7:32 p.m. schreef "Arun Gupta" <notifications@github.com>:

[2017-03-29 18:19] arun-gupta commented on #211
@johanjanssen So I just need to update the command?

[2017-03-29 18:23] johanjanssen commented on #211
Exactly just use the new command which I copied from the cAdvisor GitHub.
At least one volume was missing in the original command that's why it
didn't work.

Op 29 mrt. 2017 8:19 p.m. schreef "Arun Gupta" <notifications@github.com>:

[2017-03-29 18:43] arun-gupta commented on #211
@ManoMarks fixed, need to get PR merged.

[2017-03-29 18:45] ManoMarks commented on #211
Thanks!

[2017-03-29 18:45] #211 closed

[2017-03-31 04:53] GingerMoon opened #215 "standard_init_linux.go:178: exec user process caused "no such file or directory""
**Which lab is it that you're having issues with?**
In-container Java Development: IntelliJ Community Edition
https://github.com/docker/labs/blob/master/developer-tools/java-debugging/IntelliJ-README.md

**Description**

I got the error below after running the command: docker-compose up
webserver_1  | standard_init_linux.go:178: exec user process caused "no such file or directory"

**Steps to repr

[2017-03-31 04:55] GingerMoon commented on #215
Tried with
git clone https://github.com/spara/registration-docker.git --config core.autocrlf=input
Still doesn't work.

[2017-03-31 19:36] ManoMarks commented on #215
@GingerMoon were you in the root of the application directory when you ran ```docker-compose up```? Here's what it looks like for me:
![screen shot 2017-03-31 at 12 35 50 pm](https://cloud.githubusercontent.com/assets/113855/24566530/b1f08480-160e-11e7-8b6b-4ae1a913d038.png)

[2017-04-01 01:29] GingerMoon commented on #215
@ManoMarks Thank you very much for the prompt response!
git clone https://github.com/spara/registration-docker.git --config core.autocrlf=input
![default](https://cloud.githubusercontent.com/assets/8342412/24573840/1cb486a6-16bc-11e7-8002-e0877d035f6f.png)

[2017-04-01 05:30] livier92 opened #217 "Error response from daemon: No such container: static-site"
I am having an issue with this lab [2.0 Webapps with Docker](https://github.com/docker/labs/blob/master/beginner/chapters/webapps.md)

In section 2.1 after performing this two commands:

[code]

the tutorial goes on and says to perform this:

`$ docker rm -f static-site static-site-2`

The terminal outputs the following error

`Error response from daemon: No such container: static-site
`

I expect

[2017-04-01 13:18] itspritish commented on #217
minor doc correction- https://github.com/docker/labs/pull/219

[2017-04-03 10:36] Yaroslavle opened #220 "Docker tutorial suggesting"
Hi! I'd like to suggest our totorial: "Docker Tutorial — Getting Started with Python, Redis, and Nginx"
http://djangostars.com/blog/heres-how-you-start-using-docker/

[2017-04-03 14:24] ManoMarks commented on #220
We're happy to have pull requests submitted by the community.

[2017-04-03 14:24] #220 closed

[2017-04-04 01:08] #217 closed

[2017-04-04 21:18] andreykovalenko opened #221 "Incorrect port mapping nodejs tutorial"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/developer-tools/nodejs/porting/4_single_host_networking.md

**Description**

The message-app uses 1337 therefore mapping of the app container should be 8000:1337 instead of "8000:80"

[2017-04-04 21:35] andreykovalenko commented on #221
I've created a PR with the fix #222

[2017-04-05 03:06] livier92 opened #223 "Error connection refused"
Lab having issues with: 3.0 Deploying an app to a Swarm

**Description**
After creating the swarm, the tutorial says

I am using Ubuntu 14.04, so  I thought I don't needed Docker-compose. However, when I was trying to access the [results](http://localhost:5001) page, it said:

So, I decided to install Docker Compose and that solved my problem. Just a heads up to update the documentation, it seems

[2017-04-12 23:45] dtma007 opened #232 "MultiContainerApp Lab: getting "Unable to load the service index" error"
**Which lab is it that you're having issues with?**
https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md

**Description**
The lab is failing for me on this step:  docker-compose -f .\docker-compose.windows.yml build

**Error**
[code]

**Steps to reproduce the issue, if relevant:**
1.  Follow the step from the lab: https://github.com/docker/labs/blob/master/win

[2017-04-13 22:49] dtma007 commented on #232
This might be caused by Docker container network issue.

I've been experimenting more with this by commenting out the section of the "Dockerfile.windows" where the failure was occurring.   (eg. "RUN dotnet restore --runtime win10-x64 .\samples\MusicStore")  After the docker image was created, I started the container "docker run -it dotnetmusicstore_web powershell".

I noticed that from within the

[2017-04-15 12:42] USERARSSASion opened #236 "nodemon error"
Attaching to nodedocker_web_1
web_1  |   Usage: nodemon [nodemon options] [script.js] [args]
web_1  |
web_1  |   See "nodemon --help" for more.
web_1  |
nodedocker_web_1 exited with code 0
[root@localhost nodeDocker]# nodemon --help

`  1 version: "2"
  2
  3 services:
  4     web:
  5         build: .
  6         command: nodemon --debug=5858
  7         volumes:
  8              - .:/code
  9

[2017-04-17 18:56] gesch opened #238 "AWS Policy creation"
Which lab is it that you're having issues with?
Docker for Java Developers

In Step 3 of the preperation:
Amazon Web Services credentials with following permissions. This is only needed for some parts of the workshop.

The AWS setup failed for some reason because of the maximum policy length. The happens when creating a custom policy manually in AWS.

Error message:
An error occurred: Cannot excee

[2017-04-17 18:59] ManoMarks commented on #238
We need a lot more info. Please follow the new issue template. Not even sure which lab this is:

** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how t

[2017-04-17 19:20] arun-gupta opened #239 "Fix the link to Compose file in setup"
Fix the link in https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch01-setup.adoc from https://github.com/docker/labs/blob/master/developer-tools/java/scripts/docker-compose-pull-images.yml to https://raw.githubusercontent.com/docker/labs/master/developer-tools/java/scripts/docker-compose-pull-images.yml

#DockerCon

[2017-04-17 19:34] maspen opened #240 "ch 3 typo"
Chapter 3 -

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch03-build-image.adoc#difference-between-cmd-and-entrypoint

'TL;DR CMD will work for most of the cases.' - Notice "TL:DR"

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch03-build-image.adoc#difference-between-add-and-copy

'TL;DR COPY will work for most of the cases.' - similar to abo

[2017-04-17 19:56] matthewborders opened #241 "Chapter 1 Setup - Notes on docker-compose"
**Which lab is it that you're having issues with?**
https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch01-setup.adoc

**Description**
If the user has installed Docker via Docker Toolbox or Docker for Mac, they can skip the installation of Docker Compose under Additional components.

Also, if you visit the URL for the Docker Compose installation documentation (https://docs.d

[2017-04-17 20:02] WilliamYan-BCAA opened #242 "Command line for Maven step, requires a manual Ctrl-C to Break. The output in the document needs to be updated."
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, s

[2017-04-17 20:05] longtimeago opened #244 "Swarm mode lab is missing the script to easily create/join swarm cluster with Docker Toolbox"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch06-swarm.adoc

**Description**

Missing the script to easily create/join swarm cluster with Docker Toolbox.
The problem is with joining a swarm - tls: bad certificate

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

[2017-04-17 20:05] jdaehn opened #245 "Upgrade to experimental does not seem to be clearly defined."
@arun-gupta Upgrade to experimental does not seem to be clearly defined.

Toggling the Daemon experimental checkbox in the Docker preferences dialog on my Mac seemed to have no affect. That is,

[code]

Didn't change. This is true whether we manually modify the daemon config file under the Advanced tab or just toggling the checkbox under the Basic tab.

[2017-04-17 20:23] allan-d-c opened #246 "Slightly wrong command in "Deploy Application user Swarm Mode""
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, s

[2017-04-17 20:24] ManoMarks commented on #246
Which lab does this issue reference?

[2017-04-17 20:25] 0xMackenzie opened #247 "Docker For AWS SSH Tunnel needs -o StrictHostKeyChecking=no"
Without the StrictHostKeyChecking option, you cannot place the ssh tunnel in the background the first time because you would need to respond to the key check.

The example should be:
 `ssh -i ~/.ssh/arun-cb-west2.pem   -o StrictHostKeyChecking=no -NL localhost:2374:/var/run/docker.sock docker@ec2-52-37-65-169.us-west-2.compute.amazonaws.com &
`

@arun-gupta

[2017-04-17 20:25] ManoMarks commented on #244
@arun-gupta

[2017-04-17 20:26] ManoMarks commented on #242
Which lab is this regarding?

[2017-04-17 20:26] ManoMarks commented on #240
@arun-gupta

[2017-04-17 20:27] ManoMarks commented on #239
@arun-gupta

[2017-04-17 20:31] longtimeago commented on #244
just a small sidenote

[2017-04-17 20:44] WilliamYan-BCAA commented on #242
Workshop, Docker for Java Developer

Sent from my Sony Xperia™ XZ smartphone

---- Mano Marks wrote ----

Which lab is this regarding?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/docker/labs/issues/242#issuecomment-294582057>, or mute the thread<https://github.com/notifications/unsubscribe-auth/ATKzd7oHX6vnQnTSXXHLGM

[2017-04-17 20:45] ManoMarks commented on #242
@arun-gupta

[2017-04-17 20:52] gesch opened #248 "Missing metrics in prometheus monitoring"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, s

[2017-04-17 21:02] bcoveny opened #249 "Chapter 4 - Accessing WildFly gives Connection Refused Error"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, s

[2017-04-17 21:50] dwwarren opened #250 "Docker Cloud chapter makes no mention of how to configure your cloud"
**Which lab is it that you're having issues with?**

Docker Cloud for AWS
**Description**

Jumps directly into configuring a node cluster but doesn't mention where to configure the cloud credentials

**Steps to reproduce the issue, if relevant:**
1.
2.
3.

**Describe the results you received:**
Not Authorized

@arun-gupta

[2017-04-17 22:01] allan-d-c commented on #246
Docker for Java Developers

From: Mano Marks [mailto:notifications@github.com]
Sent: Monday, April 17, 2017 3:25 PM
To: docker/labs <labs@noreply.github.com>
Cc: Allan C <spamster@austin.rr.com>; Author <author@noreply.github.com>
Subject: Re: [docker/labs] Slightly wrong command in "Deploy Application user Swarm Mode" (#246)

Which lab does this issue reference?

—
You are receiving this because

[2017-04-17 22:05] ManoMarks commented on #246
@arun-gupta

[2017-04-17 22:09] ManoMarks commented on #249
@arun-gupta

[2017-04-17 22:10] ManoMarks commented on #248
@arun-gupta

[2017-04-18 13:23] jdaehn commented on #245
This may be related to the fact that I had the default docker machine running. I noticed that when I shut that down and reset the DOCKER* environment variables, this no longer seemed to be an issue. In other words, I'm not sure if it's a bug or operator error. Regardless, it may be useful information to state in and around the material that discusses how to set the experimental flag to true.

[2017-04-20 04:41] GingerMoon commented on #215
Hi guys,
Any update?

Regards,

[2017-04-25 15:55] DanJ210 opened #255 "Swarm Stack Introduction - Not Understandable"
http://training.play-with-docker.com/swarm-stack-intro/

This tutorial right here the first command is `docker swarm init --advertise-addr $(hostname -i)` which gives an error static that
`sethostname: Use the Network Control Panel Applet to set hostname.
hostname -s is not support.
flag needs and argument: --advertise-addr
See'docker swarm init--help'.`

I truly have no idea what the Network Cont

[2017-04-25 16:01] DanJ210 commented on #255
I'm also trying to join with the token given to me... I am very new at this which is why I'm using the tutorial... But this command gives error even though `docker swarm join --help` shows that it should be correct.

`docker swarm join --token SWMTKN-1-1hzttrxqlqxndet2z2iyolj8fsk2kvsf3edsaot2z7orzt1uuf-1g3hfseogqppixdtgbx99cf2n` states that `docker swarm join` accepts only one argument. Well `--to

[2017-04-25 23:02] ManoMarks commented on #255
Please file this issue here: https://github.com/franela/franela.github.io/issues

[2017-04-25 23:02] #255 closed

[2017-04-25 23:09] ManoMarks commented on #236
I'm unable to reproduce this error. Please provide the following information:

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign up for the [Do

[2017-04-25 23:12] ManoMarks commented on #189
@sixeyed @spara please determine if we should be preserving this lab and if so where to put it

[2017-04-25 23:31] ManoMarks commented on #223
Sorry to just get to this, DockerCon slowed a lot down. This should NOT be true. Can you confirm the results of `docker version`?

[2017-04-25 23:41] spara commented on #189
I think we should remove it.

[2017-04-26 23:51] spara commented on #215
Hi GingerMoon,

I was able to replicate your problem which is the LF character in dos/cygwin/Powershell is converted to CRLF when the repo is pushed to github. This occurs on a Windows 10 machine in either the Windows git client or Powershell.  Use dos2unix to fix the affected files

[code]

[2017-04-27 14:45] DanJ210 commented on #255
@ManoMarks Thanks

[2017-05-01 19:41] ManoMarks commented on #236
@USERARSSASion I'm closing this as we have no more information incoming. Re-open if you can provide more info that allows us to reproduce it.

[2017-05-01 19:41] #236 closed

[2017-05-01 19:43] ManoMarks commented on #223
@livier92 closing this issue as there's no more information incoming. However, if you can provide reproduction steps and `docker version` information please post an issue here: https://github.com/moby/moby

[2017-05-01 19:43] #223 closed

[2017-05-01 19:43] #221 closed

[2017-05-01 19:47] #189 closed

[2017-05-01 19:52] #206 closed

[2017-05-01 19:52] ManoMarks opened #264 "Swarm Mode with Docker for AWS"

[2017-05-01 19:53] ManoMarks opened #265 "Swarm Mode with Docker for Azure"

[2017-05-04 07:04] GingerMoon commented on #215
Hi spara,
Thank you for your reply. It doesn't work.
![default](https://cloud.githubusercontent.com/assets/8342412/25693292/f61b9d84-30da-11e7-8e6d-b2af8f9d663b.png)

[2017-05-04 07:05] GingerMoon commented on #215
@spara

[2017-05-04 11:33] spara commented on #215
Did you rebuild the containers to use the files that were changed?
[code]

[2017-05-04 13:44] narsing1984 opened #266 "how to monitor JVM heartbeat using Prometheus"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/docker/docker) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, s

[2017-05-04 20:25] ManoMarks commented on #266
@narsing1984 are you requesting an answer or a new lab? This repo is only for labs such as you see here: https://github.com/docker/labs/tree/master/beginner

If you're requesting an answer, please head to the Docker Community Forums: https://forums.docker.com/

[2017-05-07 03:43] GingerMoon commented on #215
many thanks!

[2017-05-09 22:43] Vacant0mens opened #270 "Push from Windows Server 2016 gives "Access to resource is denied""
Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**
Registry

**Description**
On a local VM running Windows Server 2016
I followed all instructions but when I went to run "docker push [image]" it gave me this:
`6420320254ef: Preparing`
`7d9d3ca2532e: Preparing`
`b1d6808e92c7: Preparing`
`b006f9cbd337: Preparing`
`37

[2017-05-09 23:04] Vacant0mens commented on #270
after re-registering the docker instance, and running "registry.exe serve config.yml" in a powershell window, i get this:
`891d432cfb7e: Retrying in 1 second
ccad70a34786: Retrying in 1 second
8f464e258fdc: Retrying in 1 second
fc76cda25330: Retrying in 1 second
05a10dd29d54: Retrying in 1 second
bd947c638a37: Waiting
ba12c784c01d: Waiting
0a844930636b: Waiting
32066d4eea6d: Waiting
6c357baed9f5:

[2017-05-10 14:09] Vacant0mens commented on #270
Update:
I changed the config.yml to have a valid storage folder. Running in a powershell window now works, which solves the 503's in my second comment, but I would still like to know where I went wrong in the first place.

[2017-05-12 20:12] ManoMarks opened #276 "Update Windows setup instructions in HoL"
Update the Windows setup instructions in the `dockercon-us-2017`labs.

[2017-05-16 12:43] meteoric9637 commented on #215
Hi GingerMoon, did you solve the problem?

[2017-05-16 13:37] spara commented on #215
How to run tutorial in Windows:

[code]

[2017-05-18 22:41] spara commented on #270
Hi,

Is the image you are trying to push available? I'm unable to replicate this error.

[2017-05-18 23:09] Vacant0mens commented on #270
The image was created on the server I was pushing from. But it was an issue with building the docker image for the registry. Once I scrapped trying to build the image and used an image posted by @sixeyed it worked fine.

[2017-05-18 23:09] #270 closed

[2017-05-23 11:23] cimbis opened #282 "VS Code debugger won`t attach to dockerized node app"
**Which lab is it that you're having issues with?**
In-container Node Development: Visual Studio Code

https://github.com/docker/labs/blob/master/developer-tools/nodejs-debugging/VSCode-README.md

**Description**
I am fruitlessly trying to reproduce the above mentioned lab to fit my environment (host - ubuntu 16.04.2, container - node:alpine)

** 1 `debug` protocol**

`docker inspect -f '{{range .

[2017-05-23 16:08] cimbis commented on #282
Found a solution:

I had to change the ip address the debugger inside container binds to ->
in `package.json` `"dev": "node --inspect=0.0.0.0:9229 ./app.js"`

[2017-05-23 16:08] #282 closed

[2017-05-24 17:19] ManoMarks commented on #266
Closing since there's no additional information

[2017-05-24 17:19] #266 closed

[2017-05-29 07:49] liwei-box commented on #215
it's aused by git for windows, line breaks are forced to dos format
step 1: git config --global core.autocrlf false
step 2: delete code and git clone again

[2017-05-30 08:33] zipzit opened #285 "Error in 2.0 Webapps with Docker: No push without first doing a login from CLI."
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**

2.0 Webapps with Docker, specifically 2.3.4, Push your image (https://github.com/docker/labs/blob/master/beginner/chapters/webapps.md#234-push-your-image)

**Descripti

[2017-06-05 23:00] emmanuelCarre opened #286 "Outdate link of Docker Github repository"
**Which lab is it that you're having issues with?**
It global to this repository.

**Description**
Many links point to old github location (https://github.com/docker/docker).

https://github.com/docker/docker is redirect to https://github.com/moby/moby; but for how long? It is cleaner to change to moby/moby.

**Steps to reproduce the issue, if relevant:**
1. Go to [contributing page](https://githu

[2017-06-05 23:26] #286 closed

[2017-06-08 12:32] bhavin192 commented on #285
You are right, when I tried this lab, I faced the same issue. I have fixed this can you have a look [here ](https://github.com/bhavin192/labs/blob/8b0dbd5d252e36a67167b2b2acb623a1e9c6b563/beginner/chapters/webapps.md)

[2017-06-08 17:43] arush-sal commented on #238
@gesch The error mentioned is generally caused due to an excessively lengthy group policy length. As described [here](http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-limits.html) you cannot have a group policy that is longer than 5120 characters. It is an AWS limitation rather than Docker issue.

[2017-06-08 17:52] arush-sal commented on #239
Fixed in PR #289

[2017-06-08 19:20] sujjit1991 opened #290 "security-opt in docker file and swarm"
I am trying to add "security-opt" option in docker build file (Dockerfile), do we have any INSTRUCTION for that?

I am using the stack.Yaml file in docker swarm to deploy the services, stack.yml doesn't support the security-opt feature in the swarm, if I want to use the AppArmor and seccomp profiles in the swarm, is there any way to use it?

[2017-06-08 20:05] ManoMarks commented on #290
Hi! We need a bit more info. Please use this template to give us the information we need:
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do someth

[2017-06-09 00:23] arun-gupta commented on #240
@maspen @arush-sal evaluation seems correct. Let us know if you were referring to something else.

@ManoMarks No change required here, issue can be closed.

[2017-06-09 00:29] #240 closed

[2017-06-09 00:38] arun-gupta commented on #244
@ManoMarks should this lab still be using Docker Toolbox? Or should we make it exclusively based on Docker Community Edition?

[2017-06-09 10:13] arush-sal commented on #238
@ManoMarks This can be closed as this is an AWS related error rather than a Docker lab error.

[2017-06-09 17:26] #241 closed

[2017-06-09 17:26] #242 closed

[2017-06-09 17:27] #285 closed

[2017-06-09 22:04] arun-gupta commented on #239
PR merged and the issue can be closed.

[2017-06-09 22:04] #239 closed

[2017-06-09 22:48] zipzit commented on #285
bhavin192

Nicely done! thanks.

[2017-06-10 00:00] #290 closed

[2017-06-12 04:25] chandandattahlk opened #295 "Part 1 - Unknown instruction: CP"
I am trying to go through the labs on a Windows Server 2016 machine, but have several roadblocks.

Windows version:  Windows server standard 2016 version 1607 Build 14393.1198
[code]

I tried following the [instructions](https://github.com/docker/labs/blob/master/windows/registry/part-1.md) in lab part 1 and got this error

[code]

When I changed the command from CP to COPY, I got this error:

[co

[2017-06-13 10:49] gesch commented on #238
@arush-sal you are right, it can be closed, but you should fix the documentation because the provided policy can not be imported because of the AWS limitation.

[2017-06-13 11:20] arush-sal commented on #238
@gesch Maybe I'll be able to fix that if you can specify the issue as requested above.

[2017-06-13 11:46] gesch commented on #238
@arush-sal @arun-gupta @ManoMarks sorry, it takes way more time explaining the problem for an invalid documentation than ignoring it. You will get the same issue in the next Java workshop using the lessons from the dockerCon 2017. Sorry for wasting your and my time. Tried to be helpful getting this ironed out as requested in the running session by Arun. Not sure what you need more. The workshop tr

[2017-06-13 15:05] arun-gupta commented on #238
@gesch +1, attendees will encounter this error. And this is is on my list to find a solution to.

@ManoMarks can you please reopen the bug?

[2017-06-16 16:26] gasperlf opened #303 "java debugging"
**Description**

**Steps to reproduce the issue, if relevant:**
1. docker-compose up
2.
3.

**Describe the results you received:**
javadebugging_webserver_1 exited with code 1
webserver_1  | standard_init_linux.go:178: exec user process caused "no such file or directory"
webserver_1  | standard_init_linux.go:178: exec user process caused "no such file or directory"
webserver_1  | standard_init_lin

[2017-06-16 18:55] spara commented on #303
This is an issue with the unix LF automatically converted to CRLF by the git client. To fix this issue:
[code]
Alternatively, you can configure the git client, delete the repo and clone it again:
[code]

[2017-06-16 18:55] #303 closed

[2017-06-21 02:30] chandandattahlk commented on #295
Wondering if there's any update to this issue? Is anyone able to reproduce this

[2017-06-21 15:19] zhouchenzc0824 opened #304 "failed at step 2"
**Which lab is it that you're having issues with?**
the docker for beginers

**Description**
not be able to install python and pip saying no files found
I changed py-pip to py2-pip but still not working

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, Docker for Mac, Docker for Windows, VirtualBox, physical, etc.):**

[2017-06-21 19:25] ManoMarks commented on #304
I believe this may have been a temporary problem with the alpine linux cdn. I'm unable to reproduce the error. What happens when you try again?

[2017-06-21 21:08] zhouchenzc0824 commented on #304
@ManoMarks  when i tried to do the 2.3.3 build the image with command
[code]
It will produce the error i post.
I checked out the logs that it showed something wrong with the CDN resource but its been few days  i keep getting the same error. so confused.
my files attached.
[flask-app.zip](https://github.com/docker/labs/files/1092915/flask-app.zip)

[2017-06-21 21:40] ManoMarks commented on #304
Even with the your Dockerfile I'm unable to reproduce it. Are you on a proxy? We've had trouble with some proxies blocking the alpine cdn.

[2017-06-22 05:48] zhouchenzc0824 commented on #304
I am not on a proxy but using WIFI at work. But I just tried at home, still get the same issue.
BTW my machine is  windows 10  and I am running docker on Ubuntu on Virtual Box , can this be a problem?

[2017-06-22 05:53] ManoMarks commented on #304
Could be a weird windows networking issue, or something between the VM and Windows. Are you on Windows 10Pro? You could try Docker for Windows.

[2017-06-22 06:18] zhouchenzc0824 commented on #304
I tried to run ```apt-get update``` or ``` ping Google.com``` in different Linux OS containers like CentOS, Alpine, and Ubuntu and they all failed to do so. I think the problem is that every container cannot have access to connect to the Internet. So I googled how to make container connect to Internet.
The solution is to go to ```/etc/default/docker```  and uncomment ```DOCKER_OPTS="--dns 8.8.8.8

[2017-06-22 15:54] ManoMarks commented on #304
Thanks for the follow-up

[2017-06-22 15:54] #304 closed

[2017-06-23 20:21] ManoMarks commented on #244
Yeah let's remove the Docker Toolbox parts.

[2017-07-11 16:51] arun-gupta commented on #264
This is already explained at https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch08-aws.adoc. What else were you planning to add?

I'm planning to rev all the content for DockerCon EU anyway.

[2017-07-11 17:11] ManoMarks commented on #264
This was a generic, not Java specific lab.

[2017-07-11 17:21] arun-gupta commented on #264
OK, feel free to assign this to me, will be happy to contribute.

[2017-07-11 17:34] ManoMarks commented on #264
I can't assign it to you since you're not in the Docker Org, but consider this your assignment

[2017-07-11 17:35] arun-gupta commented on #264
ok

[2017-07-16 07:47] wisehackermonkey opened #308 "Docker Swarm Tutorial - Script Setup Failure on Windows"
# Docker Swarm Tutorial
[Image of Install Here ](http://imgur.com/a/kbgnD)

when i download the swarm files and run the setup script for powershell (admin) it throws errors
and does not install .

So i tried  installing the image what was used

"image not found" or somthing like it

what i did
1.powershell as admin

#### Docker version 17.06.0-ce, build 02c1d87

Containers: 0
 Running: 0
 Paused:

[2017-07-17 16:37] ManoMarks commented on #308
We could do a better job of explaining the Windows portion. And I'll work on that.

My first suggestion is to try this over on [Play with Docker](http://training.play-with-docker.com/swarm-mode-intro/) instead of trying it locally. Setting up multiple hyper-v virtual machines locally is never a scenario you're likely to do in the real world.

If you really want to go down this route, you'll see in

[2017-07-20 21:50] michaelkimbleyii opened #309 "prune"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign

[2017-07-20 21:53] #309 closed

[2017-07-25 23:15] wisehackermonkey commented on #308
Ill checkout "Play with Docker" looks like a great way to dick around with swarms.
I'll give installing a hypervisor a try.
These tutorials really got me back into docker.
Thanks for the tutorial and your time.

[2017-07-26 00:10] ManoMarks commented on #308
Thanks for the feedback @wisehackermonkey . It was addressed in #312

[2017-07-26 00:10] #308 closed

[2017-07-31 04:35] WilsonHo opened #314 "CH09-docker-compose up error"
**Description**
Hi guys, I tried with `docker-compose up` to run jenkins on docker and I got this error.

E: Version '17.03.0~ce-0~debian-jessie' for 'docker-engine' was not found
ERROR: Service 'jenkins' failed to build: The command '/bin/sh -c curl -sSL https://get.docker.com/ | sh &&     apt-get purge -y docker-engine &&     apt-get install docker-engine=${docker_version}-0~debian-jessie' retur

[2017-07-31 04:47] #314 closed

[2017-07-31 04:48] WilsonHo commented on #314
Sorry guys. I fixed

[2017-08-02 05:56] mattmazzola opened #315 "Suggestions for node debugging readme"
**Which lab is it that you're having issues with?**
In-container Node Development: Visual Studio Code
https://github.com/docker/labs/blob/master/developer-tools/nodejs-debugging/VSCode-README.md

**Description**
1. Add working path to commands to show what level to execute them from.
From my understanding, the readme is intending that the user run `docker-compose up` from the `nodejs-debugging/app

[2017-08-02 17:19] ManoMarks commented on #315
@lucj can you take a look?

[2017-08-08 14:22] cpraveen412 opened #317 "Docker swarm service is changing its current state continuously"
Hi all,
I'm new to docker and working on Swarm mode.
I created an IHS image which is working fine. I'm trying to run the same image using swarm mode. I did following steps.
I created Swarm cluster

[code]
Then created a network
[code]
Created service

[code]
When I check my service status, it is keep on changing

[code]
the I checked my image which was pulled from hub. The tag is missing in it.

[

[2017-08-08 16:54] #317 closed

[2017-08-08 23:21] ManoMarks commented on #315
@lucj you're my go-to Node person, would you mind taking a look?

[2017-08-09 08:57] lucj commented on #315
Should be fixed with https://github.com/docker/labs/pull/318

[2017-08-09 15:45] #315 closed

[2017-08-09 20:53] timomta opened #319 "Multicontainer Application Lab Doesn't Build"
Multicontainer Application lab does not build with Docker for Windows
https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md

The first step of the lab is
    git clone https://github.com/dockersamples/dotnet-musicstore
which works fine
The next step fails
  docker-compose -f .\docker-compose.windows.yml build

...

Step 9/15 : RUN dotnet restore --runtime win10

[2017-08-14 11:28] sun363587351 opened #321 "sunc"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign

[2017-08-14 18:10] ManoMarks commented on #321
This is an empty issue so closing

[2017-08-14 18:10] #321 closed

[2017-08-16 02:52] ManoMarks commented on #319
I'm able to reproduce the problem. Seems like there's a version upgrade needed. Assigning.

[2017-08-22 12:37] edipetres opened #322 "URL in tutorial not available anymore"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign

[2017-09-01 20:30] ManoMarks commented on #319
@timomta thanks for bringing this to our attention. We've identified some problems with the music store app, looks like development has fallen behind. We have updated the lab to use a [different app](https://github.com/dockersamples/dotnet-album-viewer) now. This was done in #323/

[2017-09-01 20:30] #319 closed

[2017-09-01 20:32] ManoMarks commented on #322
@lucj looks like all links on https://github.com/docker/labs/blob/master/developer-tools/nodejs/porting/3_publish_image.md have broken

[2017-09-01 21:27] lucj commented on #322
@ManoMarks I changed the links and submitted a PR

[2017-09-05 13:32] timomta commented on #319
Thank you Mano

From: Mano Marks [mailto:notifications@github.com]
Sent: Friday, September 1, 2017 1:30 PM
To: docker/labs <labs@noreply.github.com>
Cc: Tim Omta <timomta@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [docker/labs] Multicontainer Application Lab Doesn't Build (#319)

@timomta<https://github.com/timomta> thanks for bringing this to our attention. We've identified s

[2017-09-05 16:13] ferventcoder commented on #146
@wmeng19 don't use the Chocolatey prototype provider that is in OneGet/PackageManagement - prefer instead to use Chocolatey (choco.exe) directly. At least until there is an official provider available.

[2017-09-25 06:49] qiulang opened #331 "connection: 'mongo' not connections: 'sails-mongo'"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign

[2017-09-27 11:30] chrisadkin opened #335 "Build of build container for SQL Server lab taking an age"
I'm running the SQL Server tutorial on windows 10, this is on a high spec laptop, 16GB of memory solid state drive and the following version of Docker:

Version 17.06.2-ce-win27 (13194)
Channel: stable
428bd6c

I run build.ps1 and if I am reading the output correctly it appears to hang on the installation of netfx:

PS C:\sql-server> ./build.ps1

Security warning
Run only scripts that you trust. W

[2017-09-28 08:55] sixeyed commented on #335
@chrisadkin  - the lab has been re-written to use multi-stage Dockerfiles since your issue. I've tested it on various systems and it looks good - can you try again? Thanks.

[2017-09-28 09:01] chrisadkin commented on #335
Hi Elton,

Thanks for the prompt response, I tried running the lab against with the
latest files you have posted and I get an error message stating that I'm
not getting a timely response from Chocolatey.

Would it be possible for you to confirm:

- The docker edition you are using
- The docker build you are using
- The host os windows version you are using

I'll re-run it and give the exact error

[2017-09-28 15:22] chrisadkin commented on #335
Elton,

I've tried it again, this is what I get:

Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. All rights reserved.

PS C:\WINDOWS\system32> cd ../..
PS C:\> cd sql-*
PS C:\sql-server> docker image build --tag dockersamples/assets-db-builder
--file Dockerfile.builder .
Sending build context to Docker daemon  122.9kB
Step 1/6 : FROM microsoft/windowsservercore
 ---> 2cddde20d95d
Ste

[2017-09-30 09:35] videni opened #336 "standard_init_linux.go:187: exec user process caused "no such file or directory""
Run following commands in window10
[code]

will show this error:

[2017-10-02 16:16] ManoMarks commented on #336
Since this isn't related to anything in the labs repo, I'm going to close this issue.

If you're using Docker for Windows, I recommend posting here: https://github.com/docker/for-win.

If you're using Docker Toolbox, I recommend posting the issue here: https://www.docker.com/products/docker-toolbox

And you may also get debugging help in the [Docker Community Forums](https://forums.docker.com/)

[2017-10-02 16:16] #336 closed

[2017-10-14 14:27] arun-gupta commented on #265
Met somebody from Microsoft who might be sending a PR on this for the Java workshop

[2017-10-14 14:28] arun-gupta commented on #264
@ManoMarks what would you like to be covered in this, in addition to the existing content?

[2017-10-14 14:29] arun-gupta commented on #247
Fixed, @ManoMarks can be closed

[2017-10-14 14:30] arun-gupta commented on #246
No longer an issue, a different/simpler application is now used. @ManoMarks can now be closed.

[2017-10-14 14:32] arun-gupta commented on #249
The lab will use Docker CE going forward and not Docker Toolbox. This bug will not be fixed.

@ManoMarks can be closed.

[2017-10-14 14:32] #247 closed

[2017-10-14 14:33] arun-gupta commented on #245
Valid issue but the workshop will only use Docker CE going forward. No instructions for Docker Toolbox will be provided.

@ManoMarks this can be closed.

[2017-10-14 14:34] arun-gupta commented on #244
The lab will not use Docker Toolbox going forward.

@ManoMarks this issue can be closed.

[2017-10-14 15:04] longtimeago commented on #244
@arun-gupta nice solution :D

[2017-10-14 15:04] #244 closed

[2017-10-15 00:20] arun-gupta opened #344 "Docker metrics endpoint is not recognized by Prometheus scraper"
This issue is meant for https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch10-monitoring.adoc.

Docker metrics endpoint is not recognized by Prometheus scraper
<img width="1516" alt="screen shot 2017-10-14 at 5 19 11 pm" src="https://user-images.githubusercontent.com/113947/31580415-d917d672-b103-11e7-9293-e6f50abcae61.png">

[2017-10-15 01:52] arun-gupta commented on #344
Need https://github.com/docker/docker.github.io/issues/4972 to be fixed

[2017-10-15 05:40] #344 closed

[2017-10-15 08:16] #249 closed

[2017-10-15 08:17] #245 closed

[2017-10-15 08:17] #246 closed

[2017-10-16 12:42] bvdriel opened #349 "Add various used images to prerequisites docker-compose file"
@arun-gupta

**Which lab is it that you're having issues with?**

Docker for Java developers

**Description**

Even though it is a minor: In the prerequisites section, all images that are used in the lab should be downloaded. However, some images are still missing. For now, I find that the following images are needed but not pulled in in the docker-compose-pull-images.yml file:
debian:stable-slim

[2017-10-16 12:44] tiffanyfj opened #350 "Old commands for developer-tools/java"
I'll fix these when I have better access to the DockerCon wifi :)

**Which lab is it that you're having issues with?**
https://github.com/docker/labs/blob/master/developer-tools/java/

**Description**
There are places that `docker run` are used instead of `docker container run`, `docker build` vs `docker image build` etc.

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch

[2017-10-16 12:54] bvdriel opened #351 "Link not working Jlink"
Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**
Docker for Java Developers

**Description**

A link is not working:
Tools Reference in Reduce the size of a Docker Image using JDK 9 and a Java application of https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch03-build-image-java-9.adoc

**S

[2017-10-16 13:09] bahrmichael opened #352 "Remove us-east-1 from AWS links to make them non-region specific"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch08-aws.adoc

**Description**

Following the tutorial, my stack was deployed in eu-west-1 instead of us-east-1 (no clue why, probably some aws default settings). The links in the tutorial all refer to us-east-1, e.g.
`https://console.aws.amazon.com/cloudwatch/home?region=u

[2017-10-16 13:30] bahrmichael commented on #352
@arun-gupta

[2017-10-16 13:34] bahrmichael opened #354 "Pull CI/CD setup into workshop setup"
Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch09-cicd.adoc

**Description**

Preparations from sub-chapter `Run Jenkins on Docker` take rather long, esp. with slow conference wifi. Pull them into the workshop prep steps or reference th

[2017-10-16 13:51] bahrmichael commented on #354
Especially from Step 5/11 it became rather slow.

[code]

[2017-10-16 14:10] bvdriel opened #357 "Stop container should be docker service rm"
Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**

Docker for Java Developers

**Description**
In the part https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch10-monitoring.adoc
you create a single replica prometheus container using the command docker service create --name metrics.
At the en

[2017-10-16 14:27] midejong opened #360 "IntelliJ docker preferences"
**Which lab is it that you're having issues with?**
ch07-intellij.adoc

**Description**
After installing the Docker plugin I tried the following.

_Go to “Preferences”, “Clouds”, add a new deployment by clicking on “+”. Click on “Import credentials from Docker Machine”,_

This, however did not work for me.
I found it via: "Preferences", "Docker"

![intellij-docker-settings](https://user-images.git

[2017-10-16 14:31] jetztgradnet opened #361 "Best practices for JVM memory management in Docker containers"
**Which lab is it that you're having issues with?**
Lab: Docker for Java Developers

**Description**

When deploying Java applications in production one usually specifies the amount of memory available to the JVM (-Xmx) and other assorted configuration settings. Unfortunately, this is (usually) static configuration and therefore fixed in the container image. When specifying memory constraints (usi

[2017-10-16 14:36] arun-gupta commented on #361
@PaulSandoz FYI, could not find Mikael's github handle.

[2017-10-16 14:39] leonsabr opened #362 "IntelliJ IDEA Docker plugin supports Docker for Mac"
**Which lab is it that you're having issues with?**
Docker for Java Developers, chapter "Docker and IntelliJ IDEA"
https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch07-intellij.adoc

**Description**
Lab states `IntelliJ only supports configuring Docker Engine running using Docker Toolbox. This means that if you are running Docker for Mac or Docker for Windows then IntelliJ

[2017-10-16 14:47] arun-gupta commented on #362
IntelliJ does have support for Docker for Mac now and so the workshop should be updated, will do!

[2017-10-16 14:47] tiffanyfj commented on #362
@leonsabr Did you have to do anything special to make it work (I've only tried it on Windows which works with TCP) ? Did you use unix or tcp? Thanks!

[2017-10-16 14:48] arun-gupta commented on #360
This part of the workshop needs to be updated, and will take care of it.

[2017-10-16 14:58] tiffanyfj commented on #360
*IntelliJ Ultimate 2017.2.5

[2017-10-16 15:00] philmu opened #363 "Missing command in Ch10-monitoring"
**Which lab is it that you're having issues with?**
https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch10-monitoring.adoc#docker-cli

**Description**
After you start the service in 3.2, you have to scale it up to 3 instances with "docker service scale web=3". Otherwise you didn't see 3 containers in the following "docker stats" command.

[2017-10-16 15:10] Shrutimitr opened #364 "Need IntelliJ CE example for Developer-Tolls->Java->ch07-intellij"
Current example is using IntelliJ Ultimate edition. We need example from Community Edition as well.

[2017-10-16 15:21] arun-gupta commented on #354
@fabianenardon can the Jenkins setup be improved here?

[2017-10-16 15:21] #350 closed

[2017-10-16 15:21] #349 closed

[2017-10-16 15:21] #352 closed

[2017-10-16 15:48] #363 closed

[2017-10-16 16:01] jdleesmiller opened #366 "Invalid characters in URL issue in Java CI/CD chapter on Windows"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch09-cicd.adoc

**Description**

Several participants running docker for windows and git bash encountered an issue in a recent workshop: when they try to build the `Dockerfile` with `docker-compose up -d`, the Jenkins `plugins.sh` script fails with an error from `curl` abou

[2017-10-16 16:01] jdleesmiller commented on #366
CC @arun-gupta , as discussed.

[2017-10-16 16:29] arun-gupta commented on #366
@fabianenardon thoughts?

[2017-10-16 17:39] fabianenardon commented on #354
Best way to improve it is to add the new jenkins image to the list of images that should be downloaded before the lab. I opened a Pull Request for it: https://github.com/docker/labs/pull/367

@arun-gupta Can you approve the PR?

[2017-10-16 19:58] arun-gupta commented on #354
Looks good, @ManoMarks will have to merge this.

[2017-10-17 04:26] #354 closed

[2017-10-17 07:24] mwaqasraza commented on #97
On Windows 10, I am too getting this error on pulling bodgeit.

I run this command:

 docker pull psiinon/bodgeit

failed to register layer: re-exec error: exit status 1: output: Failed to OpenForBackup failed in Win32: open \\?\C:\ProgramData\Docker\windowsfilter\ad4a6b5ab514fd94b3717ead2ca07db4f57ba412aa779bf775476f3809cc7a7b\usr\share\man\man3\Locale::gettext.3pm.gz: The filename, directory nam

[2017-10-17 13:27] fabianenardon commented on #366
Good catch, @jdleesmiller . I checked and the file is indeed in the unix format, so it may be the case that you mentioned. Per your suggestion, I added a note suggesting to run `dos2unix` when running the lab on windows. See https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch09-cicd.adoc

[2017-10-17 16:22] jdleesmiller commented on #366
@fabianenardon Looks good to me!

Closed with https://github.com/docker/labs/pull/367.

[2017-10-17 16:22] #366 closed

[2017-10-24 00:18] arush-sal commented on #322
@ManoMarks I guess this should be closed now.

[2017-10-24 00:25] #322 closed

[2017-11-02 08:38] bigkrp opened #371 "No REPLICAS after stack deploy"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/beginner/chapters/votingapp.md
**Description**
When i tried to verify that stack has deployed, i have no `REPLICAS` for postgres:9.4 and dockersamples/examplevotingapp_worker:latest. And as a result, the application does not work for me.

**Steps to reproduce the issue, if relevant:**
1. `git clone http

[2017-11-02 17:45] ManoMarks commented on #371
@bigkrp you are using an old version of Docker, can you update to the latest and try again? https://www.docker.com/get-docker

[2017-11-03 12:14] bigkrp commented on #371
I updated docker in accordance with [this guide](https://docs.docker.com/engine/installation/linux/docker-ce/fedora/#install-docker-ce-1)

and stack has deploed
![2017-11-03 14-10-59](https://user-images.githubusercontent.com/11586744/32373261-19dfff8e-c0a1-11e7-813c-345a1e2776d0.png)

But web-view didn't work, when i tried visit http://localhost:5000/

[2017-11-12 07:58] htmyheart commented on #371
hi @bigkrp please check github: https://github.com/dockersamples/example-voting-app
I ran `docker-compose up` before deploy stack and it worked fine with me. Please try.

[2017-11-16 16:44] drewterry opened #378 "Nodemon inside a docker container requires the use of the legacy watch flag -L"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign

[2017-11-16 21:00] abrownIS opened #379 "developer-tools/java/chapters/ch11-bigdata.adoc: Build fails - "unable to pull 'maven:latest""
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign

[2017-11-16 21:01] ManoMarks commented on #379
@arun-gupta

[2017-11-16 21:14] abrownIS commented on #379
Running "docker pull maven" off to the side addresses the issue.

[2017-11-25 20:42] Red-F commented on #335
Following your pesentations at BuildStuff in Vilnius I'm trying to follow the SQL labs steps and I have the exact same problem

![chocolatey time expired](https://user-images.githubusercontent.com/486021/33234564-58c3343e-d229-11e7-8c93-aab440682d7c.png)

Running docker on windows machine with Core i7, 16GB RAM and 512 GB ssd.

Version 17.09.0-ce-win33 (13620)
Channel: stable
8c56a3b

[2017-11-28 15:51] averybai opened #381 "COPY failed: stat ......: no such file or directory"
Hello sir
           when i follow your Tutorial , I was stop at  Docker for Java Developers -> Build a Docker Image ->Create your first image using Java  -> Package and run Java application as Docker image

          the error message is : COPY failed: stat /var/lib/docker/tmp/docker-builder037642014/target/java_docker-1.0-SNAPSHOT.jar: no such file or directory

          I am new to docker ,wou

[2017-11-28 20:56] ManoMarks commented on #381
@arun-gupta can you take a look?

[2017-11-28 21:49] #378 closed

[2017-11-28 22:27] ManoMarks commented on #371
@bigkrp I'm unable to reproduce, but I don't have Fedora. Can you try this lab and see if it works in play-with-docker? http://training.play-with-docker.com/swarm-stack-intro/
If so that might indicate either a problem with Fedora or a set-up issue on your computer

[2017-11-29 22:29] #276 closed

[2017-11-30 06:39] StefanScherer commented on #295
Oh, there is a problem with trailing spaces in the markdown and Dockerfile. VSCode shows that

<img width="965" alt="bildschirmfoto 2017-11-30 um 07 27 29" src="https://user-images.githubusercontent.com/207759/33417349-6b904cfc-d5a1-11e7-8031-ba5cd6660ac4.png">

So the line continuation does not work and Docker catches the next line as "CP" instruction.

[2017-11-30 18:40] #295 closed

[2017-11-30 23:19] ManoMarks commented on #371
If you continue to have an issue I suggest raising it on https://github.com/docker/for-linux

[2017-11-30 23:19] #371 closed

[2017-12-06 00:14] yongshin opened #385 "ping docker.com not working"
Ping docker.com does not come back with a response, we suggest replacing docker.com with dockercon.com

[code]

https://github.com/docker/labs/blob/master/networking/A2-bridge-networking.md

[2017-12-06 22:59] ManoMarks commented on #385
Fixed in #386

[2017-12-06 22:59] #385 closed

[2017-12-19 04:13] surabhshah commented on #335
Hello,

I am facing the same issue as well. Hope to get a solution on this soon.

Thanks,
Surabh

[2018-01-01 08:36] Abunwer opened #390 "ERROR: pull access denied for docker-hadoop-example"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch11-bigdata.adoc

**Description**

I have problem when I was implementing this lab step by step , the problem is when I put "docker-compose up -d" it give me this output "ERROR: pull access denied for docker-hadoop-example, repository does not exist or may require 'docker

[2018-01-02 18:40] ManoMarks commented on #390
@arun-gupta

[2018-01-03 06:07] jchavannes commented on #215
I am having similar issue:
[code]
This error message doesn't give me much of a clue what might be the error.  Been struggling for a few hours to try to fix but don't really even know where to start :(

[2018-01-03 14:05] spara commented on #215
Which operating system are you using and what version of Docker?

[2018-01-03 16:33] jchavannes commented on #215
@spara Mac and Docker for Mac, version 17.12.0-ce-rc2-mac41 (21193).

I have a go binary and am using `FROM scratch`.  It works for a hello world binary, but when I put a more complicated one in there I get this error.

[2018-01-03 17:45] spara commented on #215
Can you post your Dockerfile?

[2018-01-03 18:19] jchavannes commented on #215
[code]

[2018-01-03 18:32] spara commented on #215
OK, I see the problem. You're probably building your go binary on the Mac and trying to run it in Linux container. Try this when building your go binary:

env GOOS=linux GOARCH=386 go build hello-world.go

[2018-01-03 18:54] jchavannes commented on #215
I'm building using the `golang:1.8` docker container.  Like I said, hello world works, I'm only having this issue with a larger project.  Also, the binary I'm building works in an Ubuntu container, so I know it's building for linux just fine.

I'm also using `CGO_ENABLED=0` and have tried adding `-ldflags '-w -extldflags "-static"'` to ensure it doesn't have any dependencies.

And even so, if the

[2018-01-03 19:54] ManoMarks commented on #215
I don't think this is related to a specific lab we have on this repo @jchavannes, is it? The lab originally referred to was a Java debugging in IntelliJ lab. I realize this comes up second in the Google search for `standard_init_linux.go:178: exec user process caused "no such file or directory" docker` but if it's not related to one of these labs, I suggest you try the Docker Forums (https://forum

[2018-01-03 23:09] #215 closed

[2018-01-04 04:02] jchavannes commented on #215
Ok, thanks..

[2018-01-04 19:15] mdorn opened #393 "12 factor lab missing step to create message API for Sails app"
**Which lab is it that you're having issues with?**

12factor

**Description**

In step `00`, a new app `messageApp` is created, but it's missing instructions to create the `message` API.  There should be a line after creating the app that instructs the user to do:

    sails generate api message

[2018-01-04 19:17] ManoMarks commented on #393
@lucj

[2018-01-04 21:46] lucj commented on #393
I've just tested it, thanks for the fix.

[2018-01-04 21:53] #393 closed

[2018-01-05 06:34] Jacksonary commented on #215
Hi GingerMoon，I have same trouble with you,have you deal with it?

[2018-01-05 06:35] Jacksonary commented on #215
@GingerMoon

[2018-01-05 07:33] Jacksonary opened #395 "standard_init_linux.go:185: exec user process caused "no such file or directory""
I have some troubles with docker-compose when I try this example https://github.com/docker/labs/blob/master/developer-tools/java-debugging/IntelliJ-README.md . There is many same warning like this "webserver_1  | standard_init_linux.go:185: exec user process caused "no such file or directory"",I had tried my best to deal with it like " git config --global core.autocrlf false" then git clone agin,

[2018-01-05 17:38] ManoMarks commented on #395
Hi @Jacksonary. Can you provide the following information?

Also related you may find answers here:
https://stackoverflow.com/questions/46651861/docker-error-standard-init-linux-go185-exec-user-process-caused-no-such-file

Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**

**Description**

**Steps to reproduce the

[2018-01-07 05:56] Jacksonary commented on #395
Thanks, @ManoMarks ,I had tried like that method, but It does not work. However, I find it working successfully when I do like sample today, but I do nothing. Any way,  I have do it successfully,but when I To go to the application, Click on /UserSignup link, it can not find page of UserSignup.
`webserver_1  | Jan 07, 2018 5:50:24 AM org.apache.catalina.startup.TldConfig execute
webserver_1  | INFO

[2018-01-07 07:16] jjkoehorst opened #396 "Big Data Processing with Docker and Hadoop not working"
**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch11-bigdata.adoc

**Description**

maven clean install fails as well as the docker-compose

**Steps to reproduce the issue, if relevant:**
1. git clone https://github.com/fabianenardon/hadoop-docker-demo
2. cd sample
3. mvn clean install -Papp-docker-image

**Describe the

[2018-01-07 16:40] ManoMarks commented on #395
@Jacksonary please provide the other information I requested above

[2018-01-08 01:34] Jacksonary commented on #395
@ManoMarks ,

Which lab is it that you're having issues with?
https://github.com/docker/labs/blob/master/developer-tools/java-debugging/IntelliJ-README.md

Description：Just as I described above;

Describe the results you received: I can not open the link of `/UserSignup`(404); and PowerShell output is as follows：
`webserver_1 | Jan 07, 2018 5:50:24 AM org.apache.catalina.startup.TldConfig execute

[2018-01-08 21:52] ManoMarks commented on #395
And are you using Docker for Mac, or Docker for Windows?

[2018-01-09 06:42] Jacksonary commented on #395
@ManoMarks ,
Yes, As I said above，I am using Docker for Windows

[2018-01-09 16:53] arun-gupta commented on #390
@fabianenardon any idea?

[2018-01-09 17:59] fabianenardon commented on #390
This image is created when you build the project (one step before the one you got the error). Are you sure you ran the command below before running 'docker-compose up -d'?

`cd sample`
`mvn clean install -Papp-docker-image`

If the build was successful, you should see `docker-hadoop-example` listed when you run `docker images`.

[2018-01-09 18:06] Abunwer commented on #390
@fabianenardon yes I did that .... I was following the lab step by step but I could't solve the problem.

[2018-01-09 18:19] fabianenardon commented on #396
Maybe related to https://github.com/fabric8io/docker-maven-plugin/issues/731 ? Can you check your `~/.docker/config.json` file?

The docker-compose step does not work because the image is generated in the `mvn clean install` step. If it fails, the other will fail either.

[2018-01-09 18:22] fabianenardon commented on #390
@Abunwer Can you post the output of the `mvn clean install -Papp-docker-image` command? And also check if you can see the `docker-hadoop-example` image when you run `docker images`.

[2018-01-09 19:04] Abunwer commented on #390
Here is the output of  mvn clean install -Papp-docker-image :
`[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building docker-hadoop-example 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-clean-plugin:2.5:clean (default-clean) @ docker-hadoop-example

[2018-01-09 19:14] fabianenardon commented on #390
Your `docker images` output shows that `docker-hadoop-example:latest` is available, so `docker-compose up` should find it. Can you run the docker-compose step again and check if you get the same error?

[2018-01-09 19:49] Abunwer commented on #390
I'm sorry I have bad Internet connection .... this is the output of docker-compose up -d :
Starting mongo ...
namenode is up-to-date
docker_datanode_1 is up-to-date
secondarynamenode is up-to-date
yarn is up-to-date
Starting mongo ... error

ERROR: for mongo  Cannot start service mongo: driver failed programming external connectivity on endpoint mongo (64c7c9d3769710ef2f27d96686fffe29d2ec99e9d0777

[2018-01-09 19:53] fabianenardon commented on #390
Run `docker-compose down` first to make sure the containers are not running. The `address already in use` error means you have services running already. Then, run `docker-compose up -d` again.

[2018-01-09 20:03] Abunwer commented on #390
output of docker-compose down :

Stopping docker_nodemanager_1 ... done
Stopping yarn                 ... done
Stopping secondarynamenode    ... done
Stopping docker_datanode_1    ... done
Stopping namenode             ... done
Removing docker_nodemanager_1 ... done
Removing yarn                 ... done
Removing secondarynamenode    ... done
Removing docker_datanode_1    ... done
Removing namenod

[2018-01-09 20:20] fabianenardon commented on #390
Please, make sure there is nothing running on port 27017.

[2018-01-09 20:52] Abunwer commented on #390
@fabianenardon Thank you very much .... it's work now :+1:
I found that the port number 27017 in use I killed the process by enter "sudo kill $(sudo lsof -t -i:27017)"
and then start to work fine! :smile:

[2018-01-09 21:14] #390 closed

[2018-01-10 06:46] jjkoehorst commented on #396
Yes, moving the config.json to config_backup.json it compiles and runs smoothly... Still the bug remains but thanks for the work around!

[2018-01-10 06:46] #396 closed

[2018-01-12 10:51] hafah commented on #215
maybe its the crlf on all your files.
[code]

[2018-01-13 00:02] ManoMarks commented on #331
Resolved in #394

[2018-01-13 00:02] #331 closed

[2018-01-13 00:04] #69 closed

[2018-01-13 00:04] #98 closed

[2018-01-13 00:04] #117 closed

[2018-01-13 00:04] #118 closed

[2018-01-13 00:04] #122 closed

[2018-01-13 00:04] #264 closed

[2018-01-13 00:04] #265 closed

[2018-01-18 03:09] spara commented on #395
@Jacksonary Can you copy and paste the logs of the appserver? e.g. docker logs <container>

[2018-01-19 20:55] anshupitlia commented on #215
@jchavannes Hey I am facing the same issue, were you able to solve it?

[2018-01-20 04:51] jchavannes commented on #215
@anshupitlia nope, I was not able to solve it and gave up on `FROM scratch` containers :/

Btw, I ended up posting this question on docker forums as well - https://forums.docker.com/t/standard-init-linux-go-195-exec-user-process-caused-no-such-file-or-directory/43777

[2018-01-20 14:33] Jacksonary commented on #395
@spara ，I've pasted the above information into the problem description section

[2018-01-20 14:40] Jacksonary commented on #215
I didn't do anything, and suddenly it disappeared.Maybe it cause by the format of  dos, you must be format it to Unix
发送自 Windows 10 版邮件应用

发件人: anshupitlia
发送时间: 2018年1月20日 4:55
收件人: docker/labs
抄送: jacksonary; Mention
主题: Re: [docker/labs] standard_init_linux.go:178: exec user processcaused "no such file or directory" (#215)

@jchavannes Hey I am facing the same issue, were you able to solve it?

[2018-01-23 13:57] thebigbadox opened #398 "r images"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign

[2018-01-23 13:58] #398 closed

[2018-01-27 05:49] #395 closed

[2018-02-03 08:49] winex01 commented on #215
@jchavannes i have the same problem. did you solve it?

[2018-02-04 13:46] aegerton opened #400 "2.3.2 Write a Dockerfile - text version omits RUN line"
labs/beginner/chapters/webapps.md

The text version omits the following line from the Dockerfile creation steps;-

RUN pip install --upgrade pip

Without this line, the following error message is received at Step 4/7:-

You must give at least one requirement to install (see "pip help install")

[2018-02-04 14:15] aegerton commented on #400
Even after adding this line to the Dockerfile, and installing Python (which I hadn't previously, as I usually work in R), I still get the same error message, as follows;-

You must give at least one requirement to install (see "pip help install")

What am I missing out here, please?

[2018-02-04 15:02] aegerton commented on #400
I have found one mistake within my files and rectified it, so that the error message is no longer being received.  However, I still can't get the website to load.

[2018-02-05 13:55] aegerton commented on #400
I have found one mistake within my files and rectified it, so that the error message is no longer being received.  However, I still can't get the website to load.

[2018-02-05 13:56] aegerton commented on #400
I have identified the mistake in the code, which was all my mistake  Apologies!

[2018-02-05 13:56] #400 closed

[2018-02-05 15:22] abh1sh2k opened #401 "Unable to run Docker Image created using JDK 9 on mac"
https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch03-build-image-java-9.adoc

whenever I try to build using this command "docker container run -m=200M -it --rm jdk-9-debian-slim" I am getting following error : -
docker: Error response from daemon: OCI runtime create failed: container_linux.go:296: starting container process caused "exec: \"jshell\": executable file not fou

[2018-02-05 19:35] ManoMarks commented on #401
@arun-gupta

[2018-02-06 03:50] abh1sh2k commented on #401
i got the issue .I was using latest version openjdk-9.0.4 but  ENV JAVA_HOME=/opt/jdk-9

ENV JAVA_HOME=/opt/jdk-9.0.4 fixed the issue

[2018-02-06 03:50] #401 closed

[2018-02-09 13:13] oranheim commented on #215
Experiencing the same issue with Docker engine 17.12.0-ce on Windows 10. The image that fails is built using FROM openjdk:8-alpine.

[2018-02-10 11:55] aguilita1 commented on #215
@oranheim I was able to resolve issue by adjust LF setting with GIT (See below), remove git repo, and then rebuilding from fresh repo.
[code]

[2018-02-12 08:35] oranheim commented on #215
Will this be fixed in a coming release?

[2018-02-20 17:30] ManoMarks commented on #215
I'm locking this issue going forward. Please migrate discussions/bugs to https://github.com/docker/for-linux, https://github.com/docker/for-mac, https://github.com/docker/for-win or https://github.com/moby/moby
this repo is for Docker labs and the comments here are not directly related to the labs.

[2018-02-26 11:59] ctur opened #403 "docker-create command on dockerizing node.js application section 4 freezing ubuntu 16.04"
docker-machine create --driver virtualbox node1

Creating the virtual machines with the command above and every time the OS freezes on ubuntu 16.04 (it does not respond neither with the mouse nor with the keyboard).

[2018-03-01 20:33] brunoRyckaert opened #404 "Issue running dockersamples/static-site on Raspbian (Raspberry Pi 3)"
Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**
https://github.com/docker/labs/blob/master/beginner/chapters/webapps.md

**Description**
When running `docker run --name static-site -e AUTHOR="Your Name" -d -P dockersamples/static-site`, the container seems to start, and it returns the container id. However, `doc

[2018-03-14 10:14] #403 closed

[2018-03-17 03:42] tolerious commented on #381
I alse meet the same proble.  @ManoMarks  @arun-gupta

[2018-04-18 08:39] sgandon commented on #361
I suppose this is the link
https://github.com/fabric8io-images/java/blob/84dddb5c8a72650e12c02d2056b86146edddac66/images/centos/openjdk8/jdk/container-limits
But it has been replaced with a single _run-java.sh_ script
https://github.com/fabric8io-images/java/blob/7f696790875d1ff005bf98d05dae33d879d844e5/images/centos/openjdk8/jdk/run-java.sh#L162

[2018-05-01 18:33] sstern6 opened #409 "When running vim any terminal, escape key is not bound to the terminal."
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER LABS TUTORIAL CONTENT **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign

[2018-05-01 21:11] ManoMarks commented on #409
Please file this issue on this repository: https://github.com/play-with-docker/play-with-kubernetes.github.io

[2018-05-01 21:11] #409 closed

[2018-06-11 16:11] OrenBochman opened #413 "In-container Java Development: Eclipse"
**Maven won't build on JDK >= 1.8 for  **

**Steps to reproduce the issue, if relevant:**
1. flow steps till "click run"
2.
3.

**Describe the results you received:**
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project UserSignup: Compilation failure: Compilation failure:
[ERROR] Source option 1.5 is no longer supported. Use 1.6 or

[2018-06-14 21:02] ahfarag opened #415 "In-container Java Development: Eclipse :: Unable to load authentication plugin 'caching_sha2_password'"
**Error on Submit button in SIgnup page in [In-container Java Development: Eclipse](https://training.play-with-docker.com/java-debugging-eclipse/) Lab**

[code]

[2018-06-20 15:34] #413 closed

[2018-06-28 18:21] Stakman commented on #335
This doesn't appear to have been resolved.  I get the same hang on netfx-4.5.2 as chrisadkin.

[2018-07-02 04:44] dosaku opened #417 "Incorrect Java compiler version in pom.xml for Java debugging lab"
**Which lab is it that you're having issues with?**
https://github.com/docker/labs/tree/master/developer-tools/java-debugging

**Description**
Spring 3.2 does not work with Java .class files compiled at 1.8 level.

**Steps to reproduce the issue, if relevant:**
Followed the lab up to the step where it says:

**Describe the results you received:**
Clicking on the `/UserSignup` link resulted in a 40

[2018-07-11 13:31] tdiff opened #418 "Broken links when running on training.play-with-docker.com"
**Which lab is it that you're having issues with?**
Docker for Beginners - Linux /  Package and run a custom app using Docker

**Description**
When running the lab on training.play-with-docker.com, the link provided in step 7 to open the website does not work.
The provided link in my case is:
http://ip172-18-0-22-bd309o5s2ti000bg90mg-80.direct.hybrid.play-with-docker.com/
which failed to open in t

[2018-07-11 15:23] ManoMarks commented on #418
Thanks for the report, PR here: https://github.com/play-with-docker/play-with-docker.github.io/pull/153

[2018-07-11 15:34] ManoMarks commented on #418
Thanks, fixed in https://github.com/play-with-docker/play-with-docker.github.io/pull/153

[2018-07-11 15:34] #418 closed

[2018-07-22 20:51] MarkDHarris commented on #335
I also ran into this and spent some time coming up with an alternative Dockerfile.builder file to get a build container that works for me.  See PR https://github.com/docker/labs/pull/419 that I submitted in case this helps you.

(Note the instructions at step 1 in that docker file.  I had to edit the memory config of docker itself to make it work well.)

[2018-07-28 11:21] JTG2020 opened #420 "Issue with accessing Java application - userSignup page"
Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**
Java debugging app - https://github.com/docker/labs/tree/master/developer-tools/java-debugging

**Description**
No sure if it is just me but I successfully followed all the instructions until clicking on userSignUp page from Tomcat app manager.
As i click on the us

[2018-07-28 22:35] Alfusainey commented on #420
I also face exactly the same problem:

Status code: `404 – Not Found`
Description: `The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.`

@JTG2020: does it indicate that the `/UserSignup` is running? If I click the `start` command the first time nothing happens (application does not start). so i first click on the `undeploy

[2018-07-29 15:19] Alfusainey commented on #420
thanks! let's hope that this issue gets resolved soon

[2018-07-30 22:17] spara commented on #420
Replaced mysql:latest to mysql:5.7 to enable username/password login. Edited pom.xml to compile using Java 1.7 to match tomcat container used in the example.

[2018-07-30 22:17] #420 closed

[2018-07-30 22:58] Alfusainey commented on #420
works for me. i can also confirm that replacing `mysql:latest` to `mysql:5.6` also works. thanks @spara

[2018-08-01 11:28] JTG2020 commented on #415
HI,
I am getting the same problem now. Can this be resolved ?

Thanks,

[2018-08-01 12:54] ahfarag commented on #415
Hi @JTG2020

Yes, you can solve this problem, by using the changes in this [link](https://github.com/docker/labs/pull/416/commits/9fb212815d7c6e90b9c5d5f17f5181412a4cbffb)

[2018-08-02 10:49] JTG2020 commented on #415
Thanks worked fine now. Appreciate your time.

[2018-08-02 20:16] CPRowan opened #421 "Start-Service : Failed to start service 'Docker Engine (docker)'"
I'm trying to run the windows registry lab (part 2).
The step to Start-Service docker fails with "Start-Service : Failed to start service 'Docker Engine (docker)'"

output of docker version:
Client:
 Version:       17.06.2-ee-13
 API version:   1.30
 Go version:    go1.8.7
 Git commit:    ac44d73
 Built: Mon Jun  4 16:46:59 2018
 OS/Arch:       windows/amd64

Server:
 Engine:
  Version:      17.06

[2018-08-04 12:40] mk0sojo opened #423 "Windows Container Registry lab: Builder container doesn't run"
**Which lab is it that you're having issues with?**
Docker Registry Windows Container lab
(https://github.com/docker/labs/tree/master/windows/registry)

**Description**
When running
docker build -t registry-builder -f Dockerfile.builder .
In part 1, I get the following error

**Describe the results you received:**
# cd C:\gopath\src\github.com\docker\distribution; git submodule update --init --rec

[2018-08-08 20:52] dodds2009 commented on #404
I have this exact problem as well, did you ever find a way round this?

[2018-09-07 00:17] apovodyrev commented on #420
The problem is still there. No files for UserSignup app are found in target container
root@4c7af6cb74d3:/usr/local/tomcat/webapps/UserSignup# ls -al
total 4
drwxr-xr-x 2 root root   40 Sep  6 22:24 .
drwxr-xr-x 8 root root 4096 Sep  7 00:03 ..
root@4c7af6cb74d3:/usr/local/tomcat/webapps/UserSignup#

[2018-09-15 04:55] minoseah629 opened #426 "docker container inspect does not return ip"
Please provide the following information so we can assess the issue you're having

**Which lab is it that you're having issues with?**

https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md
**Description**
The tutorial gives me the impression that the container will have an ip.

**Steps to reproduce the issue, if relevant:**
1.Got up to docker-compose up -d

**

[2018-09-20 14:52] liuhao0813 opened #427 "Bridge network can not be accessed through container name."
The Bridge network created by itself can be pinged by two containers through the IP address, and cannot be pinged through the name of the container. What is the cause?

[2018-09-25 12:49] shanabus commented on #144
It could be time to reopen this, unless this is an unrelated error:

[code]

Thats after running the "docker-compose -f .\docker-compose.windows.yml build" command from the tutorial here: https://blog.docker.com/2016/09/build-your-first-docker-windows-server-container/

[2018-09-25 15:13] liuhao0813 commented on #427
修改/etc/resolve.conf下的文件，去掉search DHCP
我的问题是这个地方影响的

[2018-09-25 15:13] #427 closed

[2018-10-11 00:57] mostafahussein commented on #426
Hello,
Could you provide the full outpout of docker inspect dotnet-album-viewer_app_1 ?
Also note that the command you wrote is different than the command in the following [url](). Is this a typo in the issue only or you are typing the wrong command ?
you wrote `Networks.nap` and it should be `Networks.nat`. Could you please fix it and try the command again in case you are using the same command o

[2018-11-02 22:20] pgordon9 commented on #361
Would love to see points on how to estimate how much off-heap memory is typically needed.

[2018-11-05 22:15] chengxu32 opened #433 "/UserSignup failed to start"
I am working on lab "In-container Java Development: Eclipse", and failed to start app "/UserSignup"

Host OS: Windows 7 Enterprise
VM: Oracle VM VirtualBox 5.2.20
Ubuntu 190.04.1 is installed in the Oracle VM
Docker 18.06.1-ce is installed in the Ubuntu

The following are the container log, and shows SEVERE error about JDBC driver.

How can I fix it ? Thanks

webserver_1  | Nov 05, 2018 9:52:40 PM

[2018-11-16 21:55] pchidamb commented on #423
Issue still here ...

[2018-11-16 22:00] pchidamb opened #435 "Windows Registry:Stop-Service docker"
I am unable to go to powershell and get Stop-Service docker to work.

Stop-Service : Service 'Docker Engine (docker)' cannot be stopped due to the
following error: Cannot open docker service on computer '.'

Docker version 18.06.1-ce, build e68fc7a

[2018-11-17 09:57] StefanScherer commented on #435
@pchidamb Can you share some more details about your host environment? I guess you're running Windows 10 with Docker for Windows, is this correct?

I think you have problems here https://github.com/docker/labs/blame/master/windows/registry/part-2.md#L54
This lab was made using a Windows Server 2016 machine, so we probably have to mention that and see how the lab can be adjusted to work for Windows

[2018-11-18 14:54] joey-madwire commented on #420
Not sure if others are having this problem, but the issue for me was that there weren't any files in the UserSignup directory because the volume mount failed.

You can check this by doing this:
[code]
If that last ls doesn't display anything in that folder, the volume mount failing is the issue.

I found the solution here: https://nickjanetakis.com/blog/setting-up-docker-for-windows-and-wsl-to-wor

[2018-11-19 16:10] pchidamb commented on #435
@StefanScherer . I am using a Windows 10 machine and not a Windows Server 2016 machine. I will attempt to find equivalent instructions.

[2018-12-10 04:25] pasumarthivijaykumar opened #438 "Web Link not working"
this link not working OpenJDK for Alpine linux -- http://jdk.java.net/9/ea

[2018-12-18 03:20] fenglifenglifengli opened #440 "docker pulling openJdk, it stops at extracting (67.8%)."
PS E:\helloDocker> docker-compose -f docker-compose-pull-images.yml pull --parallel
WARNING: --parallel option is deprecated and will be removed in future versions.
Pulling ubuntu        ... done
Pulling busybox       ... done
Pulling openjdk       ... extracting (67.8%)------------------------------------------------------------(there)
Pulling wildfly       ... done
Pulling javaee7-hol   ... done

[2018-12-28 08:58] fqyusher opened #441 "swarm for Mac cannot be reachable by browser"
1. run swarm-node-vbox-setup.sh
2. create nginx
3. check the service

All three steps go well, but when entering the ip in to the browser, it failed.

[2019-01-02 16:17] identifi-awilliamson commented on #421
Having the same issue. It looks like the unregistration of the service or possibly the stopping of the service removed the default NAT network.

[2019-01-26 09:37] barney-li opened #447 "Missing build file for aspnet-web"
After running command `docker build -t myaspnet .
`
I got this error:
MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file.
The command '/bin/sh -c dotnet restore' returned a non-zero code: 1

[2019-02-04 16:17] maurojava opened #449 "docker on netbeans 8.2 on ubuntu is not working"
Unto ubuntu 8.2 the connection for docker int9 service panel is not working.
Web i try  to connect at docker , auto.aticalli the docker panel use 127.0.0.1:2375 .
But i get : connection not possible

[2019-02-09 05:50] anilpank opened #451 "Error while running docker-compose up while setting up In-container Java Development: Eclipse"
I was following instructions from https://github.com/docker/labs/blob/master/developer-tools/java-debugging/Eclipse-README.md

My environment is WIndows 10 Enterprise.
My  Docker version 18.09.1, build 4c52b90

When I run the following command `docker-compose up` , I get the following error

java-debugging_webserver_1 exited with code 1
java-debugging_webserver_1 exited with code 1
Exception in th

[2019-02-10 17:51] sticker592 opened #452 "link"
This link is broken:
Docker Tutorials from the Community - links to a different repository
https://github.com/docker/community/blob/master/curated-content.md

[2019-04-09 19:36] nithinyama commented on #415
Thanks.. Your suggestion helped me :)

[2019-05-09 03:39] mrdevops1 opened #461 "ERROR: filesystem layer verification failed for digest"
Following instructions in labs/windows/windows-containers/MultiContainerApp.md, after git clone https://github.com/dockersamples/dotnet-album-viewer.git at this step:

docker-compose up -d

Output is this:

nanoserver-1809: Pulling from dockersamples/tidb
6a5e981230da: Verifying Checksum
0b269bf5fe5f: Download complete
3e1bb0112f5d: Download complete
e4ea46d8914a: Download complete
b3289cfb42d9: D

[2019-05-22 16:07] lucassouzamatos opened #462 "Translation"
Hi, I want to translate the tutorials into Brazilian Portuguese, what would be the best way to organize the documents in the directory?

[2019-05-22 18:13] thiagotgo90 commented on #462
Hi.

I would like to help you.

[2019-05-22 19:55] lucassouzamatos commented on #462
Hi @thiagotgo90.
We could adding a extension in the files, something like README_ptbr.md.

[2019-05-24 20:11] HugoScaramal commented on #461
Had the same issue.
The only difference from your docker version is that the Docker Engine has Experimental: false.

[2019-05-28 20:52] braunschweig commented on #404
same issue here, but no solution :(

[2019-06-05 06:23] mukulmeister opened #465 "Unable to pull windows image"
I have windows 10 Ent (10.0.17134) X64 version , while trying to pull windows image : mcr.microsoft.com/windows/nanoserver:1809 i am getting error no matching manifest for unknown in the manifest list entries.

[2019-06-06 20:32] StefanScherer commented on #465
On Windows you can run windows containers that have the same or older version of your kernel.
See the Windows container version compatibility page at https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility

In your case it's Windows 10 1803, so you can use mcr.microsoft.com/windows/nanoserver:1803 instead.

[2019-06-09 10:17] mukulmeister commented on #465
Thanks for replying @StefanScherer , i figured that out and now it works.

[2019-06-09 10:17] #465 closed

[2019-06-11 13:32] evilC opened #466 "`hostname -s is not supported.` on Win10 1809"
[code]
This is running in an Azure VM, in case it is relevant

[2019-06-11 13:36] evilC commented on #466
ohhh, sorry, I just realised that the ID is not part of the command, but a reply

[2019-06-11 13:36] #466 closed

[2019-06-12 09:19] evilC commented on #461
Also seeing same thing here
Virtualized Win10 1809

[2019-06-13 11:12] DarkKnight1991 commented on #381
Hey Guys,

Any update on this? I am facing the same "requirements.txt" issue.

[2019-07-11 23:20] tsmets commented on #381
I have a very similar problem ... on Linux (not on Mac)

[2019-08-05 22:53] tza3688gm commented on #462
Translator

[2019-08-12 05:59] jleadford opened #469 "Accuracy w/r/t https://github.com/docker/labs/tree/master/security/capabilities"
The noted page states:

"Docker images cannot have files with capability bits set. This reduces the risk of Docker containers using capabilities to escalate privileges. However, it is possible to mount volumes that contain files with capability bits set into containers. Therefore you should use caution if doing this."

I wanted to try this out. I spun-up an Ubuntu container on the newest version o

[2019-08-12 07:05] jleadford commented on #469
Also, as https://github.com/moby/moby/issues/5650#issuecomment-303499489 and my examples note, looks file file caps /are/ supported by at least some images (e.g. Ubuntu), so I don't think "Docker images cannot have files with capability bits set." is accurate either.

[2019-09-07 05:46] Awake17 commented on #433
have you solve this problem? I meet it today

[2019-09-07 06:48] Awake17 commented on #433
OK,
First replace in pom.xml:
[code]

and then create `server.xml` in `developer-tools/java-debugging/registration-webserver/tomcat/server.xml`
write following content to it:
[code]

in fact, I just close all listeners that Prevent memory leaks.

finally,add
[code]
to `developer-tools/java-debugging/registration-webserver/Dockerfile`

then just rebuild with docker:
[code]

[2019-09-10 15:09] viniciobb commented on #451
Same error !

[2019-10-15 03:00] Lavaong commented on #451
same error,

[2019-10-21 02:08] jake-bladt commented on #462
I would love to help with this. My Portugeuse is a little rusty, but I have been a professional proofreader and I work with docker on a daily basis.

[2019-11-20 09:47] Alakazam03 opened #477 "Vbox related issue"
I am getting the same error for all 3 workers. I tried restarting as mentioned at places but still virtual box is giving error.

(worker3) Progress state: NS_ERROR_FAILURE
(worker3) VBoxManage: error: Failed to create the host-only adapter
(worker3) VBoxManage: error: VBoxNetAdpCtl: Error while adding new interface: failed to open /dev/vboxnetctl: No such file or directory
(worker3) VBoxManage: er

[2019-12-12 15:54] ToeToeAung commented on #97
I am also getting the same error as above. Is there any reply on this?

[2019-12-12 16:19] ManoMarks commented on #97
Please take me off email cc on this, I'm no longer at Docker and have
explicitly unsubscribed

On Thu, Dec 12, 2019 at 7:54 AM ToeToeAung <notifications@github.com> wrote:

[2020-01-27 08:05] #187 closed

[2020-02-13 03:11] ravola opened #488 "apt-get command not included"
dpkg, apt-get commands not included in the ubuntu shell on [PWD](https://labs.play-with-docker.com/).
Is there a way to make it available?

[2020-02-19 16:42] red00dragon opened #490 "Docker Pull hangs up on windows server 2019"
I try to run a Docker container on a fresh windows 2019 machine but on pulling it hangs up forever. The windows runs under VMWare(V6.7 U3) where virtualization is enabled. I already tried to repeat the hole process with a new windows 2019 image with the same result. What is going wrong here?

I used following commands:

1. Install-WindowsFeature -Name Hyper-V -IncludeManagementTools -Restart
A Reb

[2020-03-13 21:20] apandrade commented on #423
Same problem

[2020-03-26 16:33] msridhara commented on #449
I also have the same issue, does anybody have a solution for this

[2020-04-02 18:45] ansariwn commented on #461
Please fix this issue, it is still happening on Windows Server 2019.

[2020-04-03 09:33] niaomingjian commented on #451
In my case changed line ending from CRLF to LF for the `run.sh` file because `Auto CrLf convert` wasn't set in  my TortoiseGit tool.

[2020-04-05 20:08] ecolara3 commented on #461
Same issue here. I have tried running `docker system prune -a` on the server and desktop I am using for development. Even deleted the package in the gitlab registry, still cannot get around this issue.

[2020-04-10 07:27] loot-king commented on #469
🙏

[2020-04-14 15:13] jonjesse opened #496 "UserSignup not starting"
Been playing with this for a while, not matter what I try to do, I always get this on starting UserSignup:

[code]

[2020-04-20 09:59] CengSin commented on #420
this work for me. but i edit the `docker-compose.yml` file

[code]

[2020-04-20 10:04] CengSin commented on #420
In just a moment, the file disappeared again

[2020-04-21 08:01] timo-a opened #497 "Chapter 3: can't check version because container autostarts jshell"
Chapter 3 asks to run

    docker container run -it openjdk

and check the java version with `java -version` However for me `jshell` opens directly and `/exit`exits the whole container.

[2020-05-06 02:16] BXK20 commented on #420
When I click on the /UserSignUp on the tomcat web application manager, I also get the HTTP Status 404 – Not Found.

I checked the docker file for registration-database and it is using mysql:5.7

Is this exercise working beyond this for the  windows 10 home edition with linux o/s on virtual box case.

Thanks

[2020-05-14 19:35] FudgementDay commented on #404
Still happening a year later...

[2020-05-15 13:20] isamaru commented on #496
I had the same problem, can confirm that PR #500 fixes it

[2020-05-16 04:01] jonjesse commented on #496
Still having issues starting /UserSignup
Here are the logs:

docker logs -f java-debugging_webserver_1
Listening for transport dt_socket at address: 8000
May 16, 2020 3:57:52 AM org.apache.catalina.startup.VersionLoggerListener log
INFO: Server version:        Apache Tomcat/7.0.94
May 16, 2020 3:57:52 AM org.apache.catalina.startup.VersionLoggerListener log
INFO: Server built:          Apr 10 2019

[2020-05-16 21:38] jonjesse commented on #496
Problem solved, thank you!

[2020-05-16 21:38] #496 closed

[2020-05-23 19:56] timothystone commented on #496
I chose another route: fix the Spring version that is required by Spring Data JPA 1.11.23. See #503 for my patch. Includes some additional tweaks as well, e.g., source target is 1.8 and addresses a logging issue.

[2020-05-27 19:07] philipp-ch commented on #490
Did you find a solution? BR

[2020-06-06 14:47] kevin-isky commented on #433
i've fixed this by upgrade  spring-webmvc version in pom.xml file

from
[code]
to
[code]

[2020-06-09 02:57] willzhang commented on #461
same at vmware env
[code]

[2020-06-10 07:33] umair13adil commented on #490
I am facing a similar issue:

    Service 'storage-temp' failed to build: failed to start service utility VM (createreadwrite): kernel 'C:\Program Files\Linux
    Containers\kernel' not found

Running docker version:

Client: Docker Engine - Enterprise
 Version:           19.03.5
 API version:       1.40
 Go version:        go1.12.12
 Git commit:        2ee0c57608
 Built:             11/13/2019 08

[2020-06-15 23:06] mickgarvey commented on #433
Thanks @kevin-isky . Did you open a pull request with that? Seems like a reasonable thing to do anyway.

[2020-08-06 16:56] BXK20 opened #508 "DockerCon2017: Javadebugging : Database Connection failing"
At this time we are not actively adding labs to this repository. Our focus is on training.play-with-docker.com where new lab and workshop oriented content is being added. We welcome fixes to existing content. For any new content you wish to contribute, please use this repository:https://github.com/play-with-docker/play-with-docker.github.io. Issues filed against the repo may or may not be fixed.
U

[2020-08-09 03:54] yanlee26 opened #509 "need update , since this is 2020 ..."
labs/developer-tools/nodejs/porting/1_node_application.md

[2020-08-12 13:40] amouat commented on #469
Docker images can have capabilities set, so the page is wrong as it stands.

As proof, you can clone this repository https://github.com/ContainerSolutions/capabilities-blog/ and run:

[code]

[2020-09-04 23:38] stridford commented on #497
Setting the entrypoint explicitly also works to access the container's shell:

`docker container run -it --entrypoint=/bin/sh openjdk`

[2020-09-10 14:05] maxisam commented on #490
I have exact setup as you do.
My case was caused by carbon black. It works after adjusting the policy.

[2020-10-13 20:01] rowenstuffer commented on #461
Has anyone solved this? I've tried it both with the original files and after editing the docker file and docker-compose from `dockersamples/tidb:nanoserver-1809` to `dockersamples/tidb:nanoserver-sac2016` as suggested by @tmbull and still can't run the project.

[2020-10-20 10:04] MaxwellDupre opened #513 "New Dockerfile"
At this time we are not actively adding labs to this repository. Our focus is on training.play-with-docker.com where new lab and workshop oriented content is being added. We welcome fixes to existing content. For any new content you wish to contribute, please use this repository:https://github.com/play-with-docker/play-with-docker.github.io. Issues filed against the repo may or may not be fixed.

[2020-12-13 13:39] skkienn27angela opened #514 "Skkien / lab"
At this time we are not actively adding labs to this repository. Our focus is on training.play-with-docker.com where new lab and workshop oriented content is being added. We welcome fixes to existing content. For any new content you wish to contribute, please use this repository:https://github.com/play-with-docker/play-with-docker.github.io. Issues filed against the repo may or may not be fixed.

[2021-01-03 12:14] andrzejsydor commented on #488
@ravola can you please add more details.
Why do you need the `apt-get` command?
It's prepared virtual machines for just playing with Docker.
In my opinion, you shouldn't expect more.

[2021-01-04 01:41] ravola commented on #488
What i meant was, if i am inside the container (docker exec) i should be able to run apt-get in the container for Ubuntu image.

[2021-01-04 16:15] andrzejsydor commented on #488
@ravola I just checked by simple commands and it works:
[code]

[2021-01-06 09:10] ravola commented on #488
apt-get work when i add a docker compose but doesn't work when i docker exec. Maybe a configuration issue on my end.

[2021-01-06 14:21] andrzejsydor commented on #488
@ravola probably. Can you attach the source code for detailed investigation or just the issue should be closed?

[2021-01-18 11:06] gururajn commented on #461
Facing the same issue: ERROR: filesystem layer verification failed for digest sha256:cd5782d88a80967a205b111c575631852578504b977404b8c827716b074c646a, after prune and repeated builds.

[2021-01-19 17:48] rowenstuffer commented on #461
@gururajn - We did a bunch of research into this and the problem is that the process pulls the wrong nanoserver down. You need "tidb: nanoserver 1809.tar". AlbumViewer doesn't work with later versions of Windows Nanoserver.

You should be able to pull a copy down here:
- https://hub.docker.com/r/dockersamples/tidb/tags/?page=1&ordering=last_updated
- docker pull dockersamples/tidb:nanoserver-1809

[2021-01-19 18:17] gururajn commented on #461
Hi @rowenstuffer I'm running "docker-compose -f ./docker-compose.yml up --build" command on my mac. here is my docker info `Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Build with BuildKit (Docker Inc., v0.5.1-docker)
  scan: Docker Scan (Docker Inc., v0.5.0)

Server:
 Containers: 0
  Running: 0
  Paused: 0
  Stopped: 0
 Images:

[2021-01-19 18:30] rowenstuffer commented on #461
@gururajn - Right. So in the document I linked to, you're at about Item 7 of Step 2. Back way up to Item 2 in Step 2. You need the container with the correct version of Windows and you don't have that. Try to get that by using the links in my first response, then follow from my document at 2.2. I'm not sure what differences there are between Mac and Windows, but that SHA error comes from using an

[2021-01-20 02:56] ravola commented on #488
@andrzejsydor sorry for the late reply. I will share my compose file.

[2021-01-21 05:40] gururajn commented on #461
hi @rowenstuffer I have tried the above suggested steps. I cloned repo. git clone https://github.com/dockersamples/dotnet-album-viewer.git and and after that docker pull failed with below error.
Pulling db (dockersamples/tidb:nanoserver-1809)...
nanoserver-1809: Pulling from dockersamples/tidb
6a5e981230da: Pulling fs layer
0b269bf5fe5f: Download complete
3e1bb0112f5d: Download complete
e4ea46d891

[2021-01-21 17:15] rowenstuffer commented on #461
Unfortunately, I don't know. I haven't tried this with iOS and don't have access to a system to try. Sorry!

[2021-03-19 17:02] jirkastejskal commented on #433
Thanks Kevin! You saved my day!

[2021-03-29 19:15] satinder-2000 opened #522 "FLASK-APP cats images not available ; link not working"
I am trying to run the flask-all as per the instruction in the link:

https://github.com/docker/labs/blob/master/beginner/chapters/webapps.md

![Screen Shot 2021-03-29 at 20 13 29](https://user-images.githubusercontent.com/42146905/112887596-46789300-90cb-11eb-952a-5e4a940a9821.png)

As can be seen in the attached snapshot, there is no image displayed!

[2021-04-28 01:25] TQuy opened #525 "No replicas running in Docker for beginner chapter 3"
when I run `docker swarn init`, there is a notification

Then I run `docker swarm init --advertise-addr 2405:4803:c743:3030:decd:35a2:df24:9c2`. Next, I continue follow the tutorial till the step `docker stack services vote` but there is no replicas running
![image](https://user-images.githubusercontent.com/45731304/116332071-3bfd0680-a7fb-11eb-81ed-8eb0c368056a.png)

[2021-04-28 01:35] claytoncalixto commented on #490
I have this same problem:

docker: Error response from daemon: failed to start service utility VM (createreadwrite): hcsshim::CreateComputeSystem 4c2529611fb4bbb71498a5466d36cc3fe8a4a84ab3f70e46bdaeee9ee99eebb8_svm: Não há suporte para o pedido.
(extra info: {"SystemType":"container","Name":"4c2529611fb4bbb71498a5466d36cc3fe8a4a84ab3f70e46bdaeee9ee99eebb8_svm","Layers":null,"HvPartition":true,"HvR

[2021-05-04 16:41] imaginois commented on #490
I have the same problem. Still no resolve

[2021-05-24 21:11] pixsaoul opened #526 "Documentation of labs not update to date with content (sql-server part 1)"
Hello, I am following the first tuto for sql server :  labs/windows/sql-server/part-1.md
It seems that the Dockerfile.builder versionned does not match the process described in the documentation.
I don't have the knowledge necessary to update the lab for the new builder.

[2021-05-26 07:05] davidberglund commented on #490
I have the same issue. Is there a solution for this, please? If there's a guide somewhere to getting started with LCOW, I'd like to see it.

[code]

[2021-05-26 12:52] ibruynin opened #527 "dead link in https://github.com/docker/labs/blob/master/windows/windows-containers/README.md"
The link for windows server is not working anymore:
- _href_ https://hub.docker.com/editions/enterprise/docker-ee-server-windows
- _name_ Install Docker Enterprise Engine on Windows Server

[2021-06-22 14:55] Dave-Lowndes commented on #461
It's so frustrating to be trying to learn something, following the example you're led to, and having it fail and then eventually finding this long standing report.
If this isn't going to be fixed, please get rid of the tutorial https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md so that more people don't fall down this hole.

[2021-06-22 15:15] gururajn commented on #461
@Dave-Lowndes thanks for the follow up and updates, I have updated my docker image(3.1) I don't see the above mentioned error. I can able to docker-compose.

[2021-07-03 07:59] ecormaksin opened #528 "Do we need to add environment variables to Jenkins?"
About [this page](https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch09-cicd.adoc), I followed the instructions along the way, but build failed.

The console output is like below.

I think that the environment variables `JAVA_HOME` (value: `/opt/java/openjdk`), `PATH` (value: `/opt/java/openjdk/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`) need to be ad

[2021-07-10 08:53] ecormaksin opened #530 "The `metrics` url should be fixed"
In the [Add Prometheus as data source](https://github.com/docker/labs/blob/master/developer-tools/java/chapters/ch10-monitoring.adoc#add-prometheus-as-data-source) section, data source url `http://localhost:9090` seems not to work. So, we should fix `localhost` to `docker0`'s ip address (im my case, it is `172.17.0.1`).

[2021-07-18 21:12] amir4zh opened #531 "ocker / labs lines Stat is unavailable"
At this time we are not actively adding labs to this repository. Our focus is on training.play-with-docker.com where new lab and workshop oriented content is being added. We welcome fixes to existing content. For any new content you wish to contribute, please use this repository:https://github.com/play-with-docker/play-with-docker.github.io. Issues filed against the repo may or may not be fixed.

[2021-07-23 08:06] saritapandey19 commented on #490
I also followed the same steps mention in above link and the issue got resolved. Thank you .

[2021-08-03 07:08] Yur-ok opened #532 "Dead link to "Docker Tutorials from the Community""
Could someone update this link?

[2021-09-21 20:39] jayachithra opened #533 "Broken link to 'Install Docker Enterprise Engine on Windows Server'"
The link at this readme (labs/windows/windows-containers/README.md) is broken.

[2021-09-21 23:18] thesbv opened #535 "docker pull store/rocketchat/rocket.chat:2.2.0"
At this time we are not actively adding labs to this repository. Our focus is on training.play-with-docker.com where new lab and workshop oriented content is being added. We welcome fixes to existing content. For any new content you wish to contribute, please use this repository:https://github.com/play-with-docker/play-with-docker.github.io. Issues filed against the repo may or may not be fixed.

[2021-10-03 17:59] Harmouch101 commented on #532
I am not sure if this is still relevant because of my late response. But, just wanted to share the link to the [Community Repo](https://github.com/docker/community) in case someone may find it useful. There could be two reasons for the link being broken, it is either the `curated-file.md` was deleted, or it was renamed later on to `README.md`, which in this case the link would be [this one](https:

[2021-10-24 17:21] Romamok opened #537 "broken link to youtube in readme"
When I go to https://youtu.be/vE1iDPx6-Ok?list=PLkA60AVN3hh9gnrYwNO6zTb9U3i1Y9FMY&t=2088
it says the video is private

[2021-11-09 23:30] CNFloss commented on #537
The whole section for live debugging a Node.js application is just a video, and as this person has pointed out it's a private video.  Can someone either update this or at least remove the section.

[2021-11-16 14:34] dolevi101 opened #539 "Source code was modified and doesn't match the PWD tutorial"
In the[ original tutorial](https://training.play-with-docker.com/nodejs-live-debugging/) code expected to be different.
here, in the source code the problem is already fixed.
https://github.com/docker/labs/blob/12b50ababf1ce1ebc31252763f123713f435022d/developer-tools/nodejs-debugging/app/app.js#L24

It should be:
` if (lineIndex > LINES.length) { `

[2021-12-18 04:56] avsriv opened #540 "Docker Engine Service not visible and switch to windows containers is disabled"
Getting error while creating BC Container. Also, Docker Engine service not available and Switch to Windows Containers is disabled.
My OS is Windows Home.

Please suggest.

<img width="1914" alt="Docker Desktop Service" src="https://user-images.githubusercontent.com/96326690/146629523-2e4d8a12-3382-467c-8d63-695f73aeec38.png">
<img width="1914" alt="Error while creatiing BC Container" src="https://

[2022-03-03 10:18] halldong opened #545 "guide on windows server"
This link is dead.

https://github.com/docker/labs/blob/12b50ababf1ce1ebc31252763f123713f435022d/windows/windows-containers/README.md?plain=1#L15

[2022-04-18 16:30] An-dy1 commented on #496
This is still an issue two years later. It looks to me like PR #500 was closed without the change being merged in? In any case when I cloned this project the issue was still present.

But I applied the changes in #503 and finally got UserSignup to start. Thank you @timothystone !

[2022-04-24 08:48] Churru14 opened #553 "DS_Store"
At this time we are not actively adding labs to this repository. Our focus is on training.play-with-docker.com where new lab and workshop oriented content is being added. We welcome fixes to existing content. For any new content you wish to contribute, please use this repository:https://github.com/play-with-docker/play-with-docker.github.io. Issues filed against the repo may or may not be fixed.

[2022-04-25 12:22] Churru14 opened #554 "Java"
https://github.com/docker/node-sdk/blob/main/.github/workflows/main.yml

[2022-05-03 22:01] koedal commented on #545
Any updates on this?

[2022-05-06 11:12] albgen commented on #545
i think they will deprecate docker desktop for windows server or it will be a paid feature :) The latest version of dcoker does not work on any windows server

[2022-09-19 10:00] wlbwlbwlb commented on #525
did you solve this problem?

[2022-09-19 10:31] TQuy commented on #525
I didn't

[2022-11-04 14:48] Usedillusion commented on #545
Still Broken :(